In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/APi.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2015-12-29,371.0,381.0,368.0,372.0,NaN,13555.0,5029450.0
1,2015-12-31,372.0,381.0,368.0,370.0,-0.54,11336.0,4216637.0
2,2016-01-03,370.0,377.0,362.0,369.0,-0.27,11849.0,4375998.0
3,2016-01-04,369.0,373.0,358.0,368.0,-0.27,9183.0,3351712.0
4,2016-01-05,368.0,375.0,350.0,375.0,1.90,27876.0,10117332.0
...,...,...,...,...,...,...,...,...
2301,2026-01-14,289.9,291.0,287.0,289.3,-0.03,50519.0,14604516.9
2302,2026-01-18,295.0,295.0,288.0,290.0,0.24,68116.0,19744960.5
2303,2026-01-20,294.0,299.9,290.3,299.9,3.41,295108.0,87465380.4
2304,2026-01-21,299.0,301.4,293.2,295.9,-1.33,213242.0,63336737.2
2305,2026-01-22,294.8,300.5,292.0,298.0,0.71,216291.0,64396082.2

In [3]:

# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2015-12-29,371.0,381.0,368.0,372.0,NaN,13555.0,5029450.0
1,2015-12-31,372.0,381.0,368.0,370.0,-0.54,11336.0,4216637.0
2,2016-01-03,370.0,377.0,362.0,369.0,-0.27,11849.0,4375998.0
3,2016-01-04,369.0,373.0,358.0,368.0,-0.27,9183.0,3351712.0
4,2016-01-05,368.0,375.0,350.0,375.0,1.90,27876.0,10117332.0
...,...,...,...,...,...,...,...,...
2301,2026-01-14,289.9,291.0,287.0,289.3,-0.03,50519.0,14604516.9
2302,2026-01-18,295.0,295.0,288.0,290.0,0.24,68116.0,19744960.5
2303,2026-01-20,294.0,299.9,290.3,299.9,3.41,295108.0,87465380.4
2304,2026-01-21,299.0,301.4,293.2,295.9,-1.33,213242.0,63336737.2
2305,2026-01-22,294.8,300.5,292.0,298.0,0.71,216291.0,64396082.2

In [5]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [6]:

#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'].dt.year.between(2022, 2025)].copy()

In [7]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,450.0,473.0,445.0,467.0,4.94,377918.0,173704300.3,2022
1,2022-01-03,476.3,479.0,460.6,469.0,0.43,390115.0,182993656.3,2022
2,2022-01-04,472.0,478.3,461.1,475.0,1.28,234910.0,110768125.8,2022
3,2022-01-05,480.0,485.0,467.0,477.0,0.42,350463.0,167408741.6,2022
4,2022-01-06,477.0,491.5,468.0,491.0,2.94,337718.0,163706668.5,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,286.0,289.0,285.0,288.0,0.70,177114.0,50837829.6,2025
924,2025-12-24,290.1,290.1,286.5,289.0,0.35,62486.0,18021385.6,2025
925,2025-12-28,292.5,296.0,289.0,295.7,2.32,161296.0,47214331.3,2025
926,2025-12-29,299.8,299.8,291.6,292.5,-1.08,144967.0,42475441.1,2025
927,2025-12-31,298.3,298.3,292.6,295.0,0.85,175971.0,51883554.6,2025

In [9]:
# df.drop(columns = 'status', inplace = True)
# df

In [11]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025],
    'eps': [3.67, 1.06, 8.79, 17.30],
    'pe-ratio': [66.62, 240.50, 33.90, 17.16],
    'roe': [4.02, 1.06, 7.54, 14.10],
    'dividend': [ 0.00,7.89, 5.26, 5.26]}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022   3.67     66.62   4.02      0.00
1  2023   1.06    240.50   1.06      7.89
2  2024   8.79     33.90   7.54      5.26
3  2025  17.30     17.16  14.10      5.26

In [12]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,450.0,473.0,445.0,467.0,4.94,377918.0,173704300.3,2022,3.67,66.62,4.02,0.00
1,2022-01-03,476.3,479.0,460.6,469.0,0.43,390115.0,182993656.3,2022,3.67,66.62,4.02,0.00
2,2022-01-04,472.0,478.3,461.1,475.0,1.28,234910.0,110768125.8,2022,3.67,66.62,4.02,0.00
3,2022-01-05,480.0,485.0,467.0,477.0,0.42,350463.0,167408741.6,2022,3.67,66.62,4.02,0.00
4,2022-01-06,477.0,491.5,468.0,491.0,2.94,337718.0,163706668.5,2022,3.67,66.62,4.02,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,286.0,289.0,285.0,288.0,0.70,177114.0,50837829.6,2025,17.30,17.16,14.10,5.26
924,2025-12-24,290.1,290.1,286.5,289.0,0.35,62486.0,18021385.6,2025,17.30,17.16,14.10,5.26
925,2025-12-28,292.5,296.0,289.0,295.7,2.32,161296.0,47214331.3,2025,17.30,17.16,14.10,5.26
926,2025-12-29,299.8,299.8,291.6,292.5,-1.08,144967.0,42475441.1,2025,17.30,17.16,14.10,5.26
927,2025-12-31,298.3,298.3,292.6,295.0,0.85,175971.0,51883554.6,2025,17.30,17.16,14.10,5.26

In [13]:
df = df.copy()
df.to_csv('../data-companywise/API.csv', index = False)