In [1]:
#importing the pandas library
import pandas as pd

In [3]:
#reading the file
df = pd.read_csv('../data-companywise/BPCL.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2005-01-20,480.0,280.0,250.0,280.0,NaN,4230.0,0.0,0
1,2005-01-21,280.0,328.0,294.0,328.0,17.14,70.0,0.0,0
2,2005-01-24,328.0,371.0,344.0,371.0,13.11,50.0,0.0,0
3,2005-01-25,371.0,427.0,389.0,427.0,15.09,140.0,0.0,0
4,2005-01-26,427.0,465.0,448.0,465.0,8.90,500.0,0.0,0
...,...,...,...,...,...,...,...,...,...
3606,2026-01-25,780.0,805.9,780.0,790.0,-0.63,237903.0,189282688.4,1
3607,2026-01-26,774.2,800.0,774.2,776.0,-1.77,224746.0,175709979.0,1
3608,2026-01-27,776.0,803.8,769.0,770.0,-0.77,314177.0,247217229.5,-1
3609,2026-01-28,755.0,795.0,755.0,773.0,0.39,179013.0,138942869.3,1
3610,2026-01-29,788.0,800.0,773.2,781.8,1.14,209261.0,164779274.0,-1

In [4]:
#dropping status column
df.drop(columns = 'status', inplace = True)
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2005-01-20,480.0,280.0,250.0,280.0,NaN,4230.0,0.0
1,2005-01-21,280.0,328.0,294.0,328.0,17.14,70.0,0.0
2,2005-01-24,328.0,371.0,344.0,371.0,13.11,50.0,0.0
3,2005-01-25,371.0,427.0,389.0,427.0,15.09,140.0,0.0
4,2005-01-26,427.0,465.0,448.0,465.0,8.90,500.0,0.0
...,...,...,...,...,...,...,...,...
3606,2026-01-25,780.0,805.9,780.0,790.0,-0.63,237903.0,189282688.4
3607,2026-01-26,774.2,800.0,774.2,776.0,-1.77,224746.0,175709979.0
3608,2026-01-27,776.0,803.8,769.0,770.0,-0.77,314177.0,247217229.5
3609,2026-01-28,755.0,795.0,755.0,773.0,0.39,179013.0,138942869.3
3610,2026-01-29,788.0,800.0,773.2,781.8,1.14,209261.0,164779274.0

In [5]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [6]:
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2005-01-20,480.0,280.0,250.0,280.0,NaN,4230.0,0.0,2005
1,2005-01-21,280.0,328.0,294.0,328.0,17.14,70.0,0.0,2005
2,2005-01-24,328.0,371.0,344.0,371.0,13.11,50.0,0.0,2005
3,2005-01-25,371.0,427.0,389.0,427.0,15.09,140.0,0.0,2005
4,2005-01-26,427.0,465.0,448.0,465.0,8.90,500.0,0.0,2005
...,...,...,...,...,...,...,...,...,...
3606,2026-01-25,780.0,805.9,780.0,790.0,-0.63,237903.0,189282688.4,2026
3607,2026-01-26,774.2,800.0,774.2,776.0,-1.77,224746.0,175709979.0,2026
3608,2026-01-27,776.0,803.8,769.0,770.0,-0.77,314177.0,247217229.5,2026
3609,2026-01-28,755.0,795.0,755.0,773.0,0.39,179013.0,138942869.3,2026
3610,2026-01-29,788.0,800.0,773.2,781.8,1.14,209261.0,164779274.0,2026

In [8]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year >= 2022].copy()

In [9]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
2665,2022-01-02,415.0,416.0,410.0,415.0,0.00,10830.0,4473113.3,2022
2666,2022-01-03,415.0,419.9,414.0,418.0,0.72,13872.0,5770963.2,2022
2667,2022-01-04,412.0,425.0,410.0,424.0,1.44,15929.0,6685849.1,2022
2668,2022-01-05,430.0,445.0,421.4,425.0,0.24,25832.0,11095196.0,2022
2669,2022-01-06,420.0,433.0,420.0,430.9,1.39,13157.0,5636316.3,2022
...,...,...,...,...,...,...,...,...,...
3606,2026-01-25,780.0,805.9,780.0,790.0,-0.63,237903.0,189282688.4,2026
3607,2026-01-26,774.2,800.0,774.2,776.0,-1.77,224746.0,175709979.0,2026
3608,2026-01-27,776.0,803.8,769.0,770.0,-0.77,314177.0,247217229.5,2026
3609,2026-01-28,755.0,795.0,755.0,773.0,0.39,179013.0,138942869.3,2026
3610,2026-01-29,788.0,800.0,773.2,781.8,1.14,209261.0,164779274.0,2026

In [10]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,415.0,416.0,410.0,415.0,0.00,10830.0,4473113.3,2022
1,2022-01-03,415.0,419.9,414.0,418.0,0.72,13872.0,5770963.2,2022
2,2022-01-04,412.0,425.0,410.0,424.0,1.44,15929.0,6685849.1,2022
3,2022-01-05,430.0,445.0,421.4,425.0,0.24,25832.0,11095196.0,2022
4,2022-01-06,420.0,433.0,420.0,430.9,1.39,13157.0,5636316.3,2022
...,...,...,...,...,...,...,...,...,...
941,2026-01-25,780.0,805.9,780.0,790.0,-0.63,237903.0,189282688.4,2026
942,2026-01-26,774.2,800.0,774.2,776.0,-1.77,224746.0,175709979.0,2026
943,2026-01-27,776.0,803.8,769.0,770.0,-0.77,314177.0,247217229.5,2026
944,2026-01-28,755.0,795.0,755.0,773.0,0.39,179013.0,138942869.3,2026
945,2026-01-29,788.0,800.0,773.2,781.8,1.14,209261.0,164779274.0,2026

In [11]:
#adding some fundamental signals
fundamental_data = {
    'year': [2022, 2023, 2024, 2025],
    'eps': [8.05, 8.24, 8.13, 9.95],      # Highly stable income from PPA
    'pe-ratio': [38.20, 41.10, 52.40, 78.57], # P/E spiked in 2025 due to market speculation
    'roe': [4.50, 4.70, 4.30, 4.80],      # Very low ROE due to huge reserves
    'dividend': [12.50, 5.00, 5.00, 6.00]
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year   eps  pe-ratio  roe  dividend
0  2022  8.05     38.20  4.5      12.5
1  2023  8.24     41.10  4.7       5.0
2  2024  8.13     52.40  4.3       5.0
3  2025  9.95     78.57  4.8       6.0

In [12]:
# #merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,415.0,416.0,410.0,415.0,0.00,10830.0,4473113.3,2022,8.05,38.2,4.5,12.5
1,2022-01-03,415.0,419.9,414.0,418.0,0.72,13872.0,5770963.2,2022,8.05,38.2,4.5,12.5
2,2022-01-04,412.0,425.0,410.0,424.0,1.44,15929.0,6685849.1,2022,8.05,38.2,4.5,12.5
3,2022-01-05,430.0,445.0,421.4,425.0,0.24,25832.0,11095196.0,2022,8.05,38.2,4.5,12.5
4,2022-01-06,420.0,433.0,420.0,430.9,1.39,13157.0,5636316.3,2022,8.05,38.2,4.5,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
941,2026-01-25,780.0,805.9,780.0,790.0,-0.63,237903.0,189282688.4,2026,NaN,NaN,NaN,NaN
942,2026-01-26,774.2,800.0,774.2,776.0,-1.77,224746.0,175709979.0,2026,NaN,NaN,NaN,NaN
943,2026-01-27,776.0,803.8,769.0,770.0,-0.77,314177.0,247217229.5,2026,NaN,NaN,NaN,NaN
944,2026-01-28,755.0,795.0,755.0,773.0,0.39,179013.0,138942869.3,2026,NaN,NaN,NaN,NaN
945,2026-01-29,788.0,800.0,773.2,781.8,1.14,209261.0,164779274.0,2026,NaN,NaN,NaN,NaN

In [13]:
df = df.copy()
df.to_csv('../data-companywise/BPCL.csv', index = False)