In [13]:
#importing the pandas library
import pandas as pd

In [14]:
#reading the file
df = pd.read_csv('../data-companywise/CIT.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2011-08-10,437.0,440.0,432.0,432.0,NaN,72.0,31184.0,0
1,2011-08-11,432.0,440.0,440.0,440.0,1.85,11.0,4840.0,0
2,2011-09-13,440.0,448.0,448.0,448.0,1.82,31.0,13888.0,0
3,2011-09-15,448.0,446.0,446.0,446.0,-0.45,45.0,20070.0,0
4,2011-10-16,446.0,450.0,450.0,450.0,0.90,20.0,9000.0,0
...,...,...,...,...,...,...,...,...,...
2907,2026-01-26,1800.0,1818.1,1780.0,1789.0,-0.44,16632.0,29851106.0,-1
2908,2026-01-27,1790.0,1798.0,1775.0,1782.0,-0.39,13637.0,24356939.3,-1
2909,2026-01-28,1797.9,1797.9,1770.0,1783.0,0.06,10328.0,18378911.8,-1
2910,2026-01-29,1783.0,1783.0,1771.0,1773.0,-0.56,8369.0,14855948.1,-1
2911,2026-02-01,1773.0,1780.0,1752.0,1764.1,-0.50,5944.0,10525524.3,-1

In [15]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [16]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,status
0,2011-08-10,437.0,440.0,432.0,432.0,NaN,72.0,31184.0,0
1,2011-08-11,432.0,440.0,440.0,440.0,1.85,11.0,4840.0,0
2,2011-09-13,440.0,448.0,448.0,448.0,1.82,31.0,13888.0,0
3,2011-09-15,448.0,446.0,446.0,446.0,-0.45,45.0,20070.0,0
4,2011-10-16,446.0,450.0,450.0,450.0,0.90,20.0,9000.0,0
...,...,...,...,...,...,...,...,...,...
2907,2026-01-26,1800.0,1818.1,1780.0,1789.0,-0.44,16632.0,29851106.0,-1
2908,2026-01-27,1790.0,1798.0,1775.0,1782.0,-0.39,13637.0,24356939.3,-1
2909,2026-01-28,1797.9,1797.9,1770.0,1783.0,0.06,10328.0,18378911.8,-1
2910,2026-01-29,1783.0,1783.0,1771.0,1773.0,-0.56,8369.0,14855948.1,-1
2911,2026-02-01,1773.0,1780.0,1752.0,1764.1,-0.50,5944.0,10525524.3,-1

In [17]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [18]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,status,year
0,2011-08-10,437.0,440.0,432.0,432.0,NaN,72.0,31184.0,0,2011
1,2011-08-11,432.0,440.0,440.0,440.0,1.85,11.0,4840.0,0,2011
2,2011-09-13,440.0,448.0,448.0,448.0,1.82,31.0,13888.0,0,2011
3,2011-09-15,448.0,446.0,446.0,446.0,-0.45,45.0,20070.0,0,2011
4,2011-10-16,446.0,450.0,450.0,450.0,0.90,20.0,9000.0,0,2011
...,...,...,...,...,...,...,...,...,...,...
2907,2026-01-26,1800.0,1818.1,1780.0,1789.0,-0.44,16632.0,29851106.0,-1,2026
2908,2026-01-27,1790.0,1798.0,1775.0,1782.0,-0.39,13637.0,24356939.3,-1,2026
2909,2026-01-28,1797.9,1797.9,1770.0,1783.0,0.06,10328.0,18378911.8,-1,2026
2910,2026-01-29,1783.0,1783.0,1771.0,1773.0,-0.56,8369.0,14855948.1,-1,2026
2911,2026-02-01,1773.0,1780.0,1752.0,1764.1,-0.50,5944.0,10525524.3,-1,2026

In [19]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'].dt.year.between(2022, 2025)].copy()

In [20]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,status,year
1965,2022-01-02,3132.4,3250.0,3071.0,3200.0,4.20,20266.0,63813715.0,1,2022
1966,2022-01-03,3264.0,3339.0,3201.0,3309.9,3.43,27395.0,89981897.5,1,2022
1967,2022-01-04,3350.0,3365.0,3261.0,3330.0,0.61,8107.0,26956757.7,1,2022
1968,2022-01-05,3350.0,3350.0,3241.0,3241.9,-2.65,17466.0,57260992.4,-1,2022
1969,2022-01-06,3231.0,3375.0,3190.0,3345.0,3.18,25808.0,85522003.8,1,2022
...,...,...,...,...,...,...,...,...,...,...
2888,2025-12-23,1830.0,1830.0,1780.0,1807.0,-0.99,12749.0,23016717.4,-1,2025
2889,2025-12-24,1814.0,1815.0,1807.0,1809.5,0.14,8411.0,15237836.2,-1,2025
2890,2025-12-28,1831.0,1831.0,1797.0,1826.1,0.92,11465.0,20720854.1,-1,2025
2891,2025-12-29,1837.0,1841.0,1827.0,1837.0,0.60,5627.0,10336820.4,0,2025
2892,2025-12-31,1838.0,1858.0,1838.0,1844.0,0.38,3462.0,6389999.0,1,2025

In [21]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,status,year
0,2022-01-02,3132.4,3250.0,3071.0,3200.0,4.20,20266.0,63813715.0,1,2022
1,2022-01-03,3264.0,3339.0,3201.0,3309.9,3.43,27395.0,89981897.5,1,2022
2,2022-01-04,3350.0,3365.0,3261.0,3330.0,0.61,8107.0,26956757.7,1,2022
3,2022-01-05,3350.0,3350.0,3241.0,3241.9,-2.65,17466.0,57260992.4,-1,2022
4,2022-01-06,3231.0,3375.0,3190.0,3345.0,3.18,25808.0,85522003.8,1,2022
...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,1830.0,1830.0,1780.0,1807.0,-0.99,12749.0,23016717.4,-1,2025
924,2025-12-24,1814.0,1815.0,1807.0,1809.5,0.14,8411.0,15237836.2,-1,2025
925,2025-12-28,1831.0,1831.0,1797.0,1826.1,0.92,11465.0,20720854.1,-1,2025
926,2025-12-29,1837.0,1841.0,1827.0,1837.0,0.60,5627.0,10336820.4,0,2025
927,2025-12-31,1838.0,1858.0,1838.0,1844.0,0.38,3462.0,6389999.0,1,2025

In [22]:
df.drop(columns = 'status', inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,3132.4,3250.0,3071.0,3200.0,4.20,20266.0,63813715.0,2022
1,2022-01-03,3264.0,3339.0,3201.0,3309.9,3.43,27395.0,89981897.5,2022
2,2022-01-04,3350.0,3365.0,3261.0,3330.0,0.61,8107.0,26956757.7,2022
3,2022-01-05,3350.0,3350.0,3241.0,3241.9,-2.65,17466.0,57260992.4,2022
4,2022-01-06,3231.0,3375.0,3190.0,3345.0,3.18,25808.0,85522003.8,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,1830.0,1830.0,1780.0,1807.0,-0.99,12749.0,23016717.4,2025
924,2025-12-24,1814.0,1815.0,1807.0,1809.5,0.14,8411.0,15237836.2,2025
925,2025-12-28,1831.0,1831.0,1797.0,1826.1,0.92,11465.0,20720854.1,2025
926,2025-12-29,1837.0,1841.0,1827.0,1837.0,0.60,5627.0,10336820.4,2025
927,2025-12-31,1838.0,1858.0,1838.0,1844.0,0.38,3462.0,6389999.0,2025

In [23]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # Corresponding to FY 78/79, 79/80, 80/81, 81/82
    'eps': [20.30, 17.08, 16.20, 19.40],
    'pe-ratio': [125.40, 122.27, 131.30, 95.43],
    'roe': [8.87, 9.40, 12.61, 12.67],
    'dividend': [26.43, 14, 13.74, 13.00]}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  20.30    125.40   8.87     26.43
1  2023  17.08    122.27   9.40     14.00
2  2024  16.20    131.30  12.61     13.74
3  2025  19.40     95.43  12.67     13.00

In [24]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,3132.4,3250.0,3071.0,3200.0,4.20,20266.0,63813715.0,2022,20.3,125.40,8.87,26.43
1,2022-01-03,3264.0,3339.0,3201.0,3309.9,3.43,27395.0,89981897.5,2022,20.3,125.40,8.87,26.43
2,2022-01-04,3350.0,3365.0,3261.0,3330.0,0.61,8107.0,26956757.7,2022,20.3,125.40,8.87,26.43
3,2022-01-05,3350.0,3350.0,3241.0,3241.9,-2.65,17466.0,57260992.4,2022,20.3,125.40,8.87,26.43
4,2022-01-06,3231.0,3375.0,3190.0,3345.0,3.18,25808.0,85522003.8,2022,20.3,125.40,8.87,26.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,1830.0,1830.0,1780.0,1807.0,-0.99,12749.0,23016717.4,2025,19.4,95.43,12.67,13.00
924,2025-12-24,1814.0,1815.0,1807.0,1809.5,0.14,8411.0,15237836.2,2025,19.4,95.43,12.67,13.00
925,2025-12-28,1831.0,1831.0,1797.0,1826.1,0.92,11465.0,20720854.1,2025,19.4,95.43,12.67,13.00
926,2025-12-29,1837.0,1841.0,1827.0,1837.0,0.60,5627.0,10336820.4,2025,19.4,95.43,12.67,13.00
927,2025-12-31,1838.0,1858.0,1838.0,1844.0,0.38,3462.0,6389999.0,2025,19.4,95.43,12.67,13.00

In [25]:
df = df.copy()
df.to_csv('../data-companywise/CIT.csv', index = False)