In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/ICFC.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2011-05-16,165.0,165.0,162.0,162.0,NaN,150.0,24480.0
1,2011-05-18,162.0,160.0,160.0,160.0,-1.23,30.0,4800.0
2,2011-05-19,160.0,157.0,157.0,157.0,-1.88,20.0,3140.0
3,2011-05-23,157.0,154.0,150.0,150.0,-4.46,306.0,46784.0
4,2011-05-24,150.0,147.0,147.0,147.0,-2.00,100.0,14700.0
...,...,...,...,...,...,...,...,...
3001,2026-01-14,642.2,667.0,640.1,660.0,2.68,82524.0,54550295.3
3002,2026-01-18,671.9,700.1,661.1,696.0,5.45,141531.0,97297756.5
3003,2026-01-20,709.8,715.0,695.0,698.4,0.34,147123.0,103677206.3
3004,2026-01-21,699.0,700.0,680.0,691.0,-1.06,52858.0,36413067.4
3005,2026-01-22,690.0,703.0,680.2,695.0,0.58,103245.0,71345952.4

In [3]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [5]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2011-05-16,165.0,165.0,162.0,162.0,NaN,150.0,24480.0,2011
1,2011-05-18,162.0,160.0,160.0,160.0,-1.23,30.0,4800.0,2011
2,2011-05-19,160.0,157.0,157.0,157.0,-1.88,20.0,3140.0,2011
3,2011-05-23,157.0,154.0,150.0,150.0,-4.46,306.0,46784.0,2011
4,2011-05-24,150.0,147.0,147.0,147.0,-2.00,100.0,14700.0,2011
...,...,...,...,...,...,...,...,...,...
3001,2026-01-14,642.2,667.0,640.1,660.0,2.68,82524.0,54550295.3,2026
3002,2026-01-18,671.9,700.1,661.1,696.0,5.45,141531.0,97297756.5,2026
3003,2026-01-20,709.8,715.0,695.0,698.4,0.34,147123.0,103677206.3,2026
3004,2026-01-21,699.0,700.0,680.0,691.0,-1.06,52858.0,36413067.4,2026
3005,2026-01-22,690.0,703.0,680.2,695.0,0.58,103245.0,71345952.4,2026

In [6]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year >= 2022].copy()

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
2065,2022-01-02,585.0,593.0,580.0,589.0,0.63,35465.0,20836762.7,2022
2066,2022-01-03,599.0,607.9,587.1,595.0,1.02,65710.0,39435972.3,2022
2067,2022-01-04,595.1,609.0,585.0,607.0,2.02,61815.0,37200691.4,2022
2068,2022-01-05,619.0,629.0,601.0,605.2,-0.30,86845.0,53436314.7,2022
2069,2022-01-06,597.1,617.0,595.0,614.0,1.45,45566.0,27864070.9,2022
...,...,...,...,...,...,...,...,...,...
3001,2026-01-14,642.2,667.0,640.1,660.0,2.68,82524.0,54550295.3,2026
3002,2026-01-18,671.9,700.1,661.1,696.0,5.45,141531.0,97297756.5,2026
3003,2026-01-20,709.8,715.0,695.0,698.4,0.34,147123.0,103677206.3,2026
3004,2026-01-21,699.0,700.0,680.0,691.0,-1.06,52858.0,36413067.4,2026
3005,2026-01-22,690.0,703.0,680.2,695.0,0.58,103245.0,71345952.4,2026

In [8]:

#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,585.0,593.0,580.0,589.0,0.63,35465.0,20836762.7,2022
1,2022-01-03,599.0,607.9,587.1,595.0,1.02,65710.0,39435972.3,2022
2,2022-01-04,595.1,609.0,585.0,607.0,2.02,61815.0,37200691.4,2022
3,2022-01-05,619.0,629.0,601.0,605.2,-0.30,86845.0,53436314.7,2022
4,2022-01-06,597.1,617.0,595.0,614.0,1.45,45566.0,27864070.9,2022
...,...,...,...,...,...,...,...,...,...
936,2026-01-14,642.2,667.0,640.1,660.0,2.68,82524.0,54550295.3,2026
937,2026-01-18,671.9,700.1,661.1,696.0,5.45,141531.0,97297756.5,2026
938,2026-01-20,709.8,715.0,695.0,698.4,0.34,147123.0,103677206.3,2026
939,2026-01-21,699.0,700.0,680.0,691.0,-1.06,52858.0,36413067.4,2026
940,2026-01-22,690.0,703.0,680.2,695.0,0.58,103245.0,71345952.4,2026

In [9]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], 
    'eps': [12.91, 13.97, 10.03, 22.63], 
    'pe-ratio': [31.50, 28.10, 76.70, 26.60], 
    'roe': [9.45, 9.60, 6.41, 12.92],   
    'dividend': [10.00, 6.50, 5.26, 15.79]
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  12.91      31.5   9.45     10.00
1  2023  13.97      28.1   9.60      6.50
2  2024  10.03      76.7   6.41      5.26
3  2025  22.63      26.6  12.92     15.79

In [10]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,585.0,593.0,580.0,589.0,0.63,35465.0,20836762.7,2022,12.91,31.5,9.45,10.0
1,2022-01-03,599.0,607.9,587.1,595.0,1.02,65710.0,39435972.3,2022,12.91,31.5,9.45,10.0
2,2022-01-04,595.1,609.0,585.0,607.0,2.02,61815.0,37200691.4,2022,12.91,31.5,9.45,10.0
3,2022-01-05,619.0,629.0,601.0,605.2,-0.30,86845.0,53436314.7,2022,12.91,31.5,9.45,10.0
4,2022-01-06,597.1,617.0,595.0,614.0,1.45,45566.0,27864070.9,2022,12.91,31.5,9.45,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,2026-01-14,642.2,667.0,640.1,660.0,2.68,82524.0,54550295.3,2026,NaN,NaN,NaN,NaN
937,2026-01-18,671.9,700.1,661.1,696.0,5.45,141531.0,97297756.5,2026,NaN,NaN,NaN,NaN
938,2026-01-20,709.8,715.0,695.0,698.4,0.34,147123.0,103677206.3,2026,NaN,NaN,NaN,NaN
939,2026-01-21,699.0,700.0,680.0,691.0,-1.06,52858.0,36413067.4,2026,NaN,NaN,NaN,NaN
940,2026-01-22,690.0,703.0,680.2,695.0,0.58,103245.0,71345952.4,2026,NaN,NaN,NaN,NaN

In [11]:
df = df.copy()
df.to_csv('../data-companywise/ICFC.csv', index = False)