In [10]:

#importing the pandas library
import pandas as pd

In [11]:
#reading the file
df = pd.read_csv('../data-companywise/NMB.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2011-03-29,228.0,233.0,225.0,232.0,NaN,1017.0,232392.0,0
1,2011-03-30,232.0,235.0,228.0,235.0,1.29,250.0,57260.0,0
2,2011-03-31,235.0,231.0,231.0,231.0,-1.70,1000.0,231000.0,0
3,2011-04-04,231.0,227.0,225.0,226.0,-2.16,190.0,42871.0,0
4,2011-04-06,226.0,225.0,225.0,225.0,-0.44,100.0,22500.0,0
...,...,...,...,...,...,...,...,...,...
3007,2026-01-26,246.4,247.9,242.7,244.0,-0.97,45281.0,11093505.4,-1
3008,2026-01-27,242.2,245.0,240.0,240.1,-1.60,62320.0,15083198.9,-1
3009,2026-01-28,240.0,244.0,240.0,240.1,0.00,46367.0,11169575.7,1
3010,2026-01-29,240.0,241.9,239.2,239.5,-0.25,53461.0,12824266.6,-1
3011,2026-02-01,237.0,240.0,237.0,237.2,-0.96,32424.0,7715937.0,1

In [12]:

# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [13]:
df.drop(columns = 'status', inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2011-03-29,228.0,233.0,225.0,232.0,NaN,1017.0,232392.0
1,2011-03-30,232.0,235.0,228.0,235.0,1.29,250.0,57260.0
2,2011-03-31,235.0,231.0,231.0,231.0,-1.70,1000.0,231000.0
3,2011-04-04,231.0,227.0,225.0,226.0,-2.16,190.0,42871.0
4,2011-04-06,226.0,225.0,225.0,225.0,-0.44,100.0,22500.0
...,...,...,...,...,...,...,...,...
3007,2026-01-26,246.4,247.9,242.7,244.0,-0.97,45281.0,11093505.4
3008,2026-01-27,242.2,245.0,240.0,240.1,-1.60,62320.0,15083198.9
3009,2026-01-28,240.0,244.0,240.0,240.1,0.00,46367.0,11169575.7
3010,2026-01-29,240.0,241.9,239.2,239.5,-0.25,53461.0,12824266.6
3011,2026-02-01,237.0,240.0,237.0,237.2,-0.96,32424.0,7715937.0

In [14]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [15]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2011-03-29,228.0,233.0,225.0,232.0,NaN,1017.0,232392.0,2011
1,2011-03-30,232.0,235.0,228.0,235.0,1.29,250.0,57260.0,2011
2,2011-03-31,235.0,231.0,231.0,231.0,-1.70,1000.0,231000.0,2011
3,2011-04-04,231.0,227.0,225.0,226.0,-2.16,190.0,42871.0,2011
4,2011-04-06,226.0,225.0,225.0,225.0,-0.44,100.0,22500.0,2011
...,...,...,...,...,...,...,...,...,...
3007,2026-01-26,246.4,247.9,242.7,244.0,-0.97,45281.0,11093505.4,2026
3008,2026-01-27,242.2,245.0,240.0,240.1,-1.60,62320.0,15083198.9,2026
3009,2026-01-28,240.0,244.0,240.0,240.1,0.00,46367.0,11169575.7,2026
3010,2026-01-29,240.0,241.9,239.2,239.5,-0.25,53461.0,12824266.6,2026
3011,2026-02-01,237.0,240.0,237.0,237.2,-0.96,32424.0,7715937.0,2026

In [16]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'].dt.year.between(2022, 2025)].copy()

In [17]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
2065,2022-01-02,330.0,332.0,326.0,329.5,0.15,55759.0,18378241.5,2022
2066,2022-01-03,335.0,338.0,329.0,335.0,1.67,61935.0,20685566.4,2022
2067,2022-01-04,330.1,359.0,330.1,358.0,6.87,122527.0,42437676.4,2022
2068,2022-01-05,360.0,363.0,348.1,349.0,-2.51,61584.0,21868463.6,2022
2069,2022-01-06,349.0,354.0,345.5,352.0,0.86,71121.0,24894084.5,2022
...,...,...,...,...,...,...,...,...,...
2988,2025-12-23,256.0,256.0,253.0,254.9,0.51,128592.0,32670952.0,2025
2989,2025-12-24,239.0,239.0,233.5,235.1,-3.16,63953.0,15020041.5,2025
2990,2025-12-28,239.0,240.0,233.0,240.0,2.08,85741.0,20342834.3,2025
2991,2025-12-29,243.0,243.8,236.0,237.0,-1.25,57270.0,13684182.0,2025
2992,2025-12-31,240.0,243.9,238.2,238.2,0.51,47350.0,11377339.7,2025

In [18]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,330.0,332.0,326.0,329.5,0.15,55759.0,18378241.5,2022
1,2022-01-03,335.0,338.0,329.0,335.0,1.67,61935.0,20685566.4,2022
2,2022-01-04,330.1,359.0,330.1,358.0,6.87,122527.0,42437676.4,2022
3,2022-01-05,360.0,363.0,348.1,349.0,-2.51,61584.0,21868463.6,2022
4,2022-01-06,349.0,354.0,345.5,352.0,0.86,71121.0,24894084.5,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,256.0,256.0,253.0,254.9,0.51,128592.0,32670952.0,2025
924,2025-12-24,239.0,239.0,233.5,235.1,-3.16,63953.0,15020041.5,2025
925,2025-12-28,239.0,240.0,233.0,240.0,2.08,85741.0,20342834.3,2025
926,2025-12-29,243.0,243.8,236.0,237.0,-1.25,57270.0,13684182.0,2025
927,2025-12-31,240.0,243.9,238.2,238.2,0.51,47350.0,11377339.7,2025

In [19]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # Corresponding to FY 78/79, 79/80, 80/81, 81/82
    'eps': [18.79, 13.06, 12.12, 17.87],
    'pe-ratio': [16.23, 15.50, 16.00, 13.50],
    'roe': [13.32, 8.66, 8.12, 10.41],
    'dividend': [8.25, 0.00, 0.00, 10.00]}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  18.79     16.23  13.32      8.25
1  2023  13.06     15.50   8.66      0.00
2  2024  12.12     16.00   8.12      0.00
3  2025  17.87     13.50  10.41     10.00

In [20]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,330.0,332.0,326.0,329.5,0.15,55759.0,18378241.5,2022,18.79,16.23,13.32,8.25
1,2022-01-03,335.0,338.0,329.0,335.0,1.67,61935.0,20685566.4,2022,18.79,16.23,13.32,8.25
2,2022-01-04,330.1,359.0,330.1,358.0,6.87,122527.0,42437676.4,2022,18.79,16.23,13.32,8.25
3,2022-01-05,360.0,363.0,348.1,349.0,-2.51,61584.0,21868463.6,2022,18.79,16.23,13.32,8.25
4,2022-01-06,349.0,354.0,345.5,352.0,0.86,71121.0,24894084.5,2022,18.79,16.23,13.32,8.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,256.0,256.0,253.0,254.9,0.51,128592.0,32670952.0,2025,17.87,13.50,10.41,10.00
924,2025-12-24,239.0,239.0,233.5,235.1,-3.16,63953.0,15020041.5,2025,17.87,13.50,10.41,10.00
925,2025-12-28,239.0,240.0,233.0,240.0,2.08,85741.0,20342834.3,2025,17.87,13.50,10.41,10.00
926,2025-12-29,243.0,243.8,236.0,237.0,-1.25,57270.0,13684182.0,2025,17.87,13.50,10.41,10.00
927,2025-12-31,240.0,243.9,238.2,238.2,0.51,47350.0,11377339.7,2025,17.87,13.50,10.41,10.00

In [21]:
df = df.copy()
df.to_csv('../data-companywise/NMB.csv', index = False)