In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/raw_data/RURU.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2021-07-05,898.0,910.0,895.0,905.0,-0.88,1966.0,1773093.0,-1
1,2021-07-06,905.0,945.0,892.0,910.0,0.55,1340.0,1227810.0,1
2,2021-07-07,893.0,907.0,893.0,907.0,-0.33,600.0,540534.0,-1
3,2021-07-08,907.0,925.0,896.0,902.0,-0.55,2672.0,2432264.0,-1
4,2021-07-11,901.0,930.0,900.0,909.0,0.78,2120.0,1933450.0,1
...,...,...,...,...,...,...,...,...,...
1067,2026-02-09,665.1,677.0,659.0,667.0,-0.45,20351.0,13601792.5,1
1068,2026-02-10,656.0,670.0,656.0,659.1,-1.18,10708.0,7093661.2,1
1069,2026-02-11,670.0,679.0,656.0,665.0,0.90,8386.0,5530624.8,-1
1070,2026-02-12,665.0,668.0,656.0,657.0,-1.20,16906.0,11184509.2,-1
1071,2026-02-16,658.1,670.0,654.0,654.0,-0.46,17022.0,11209779.4,-1

In [3]:
#dropping the status column
df.drop(columns = 'status', inplace = True)
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2021-07-05,898.0,910.0,895.0,905.0,-0.88,1966.0,1773093.0
1,2021-07-06,905.0,945.0,892.0,910.0,0.55,1340.0,1227810.0
2,2021-07-07,893.0,907.0,893.0,907.0,-0.33,600.0,540534.0
3,2021-07-08,907.0,925.0,896.0,902.0,-0.55,2672.0,2432264.0
4,2021-07-11,901.0,930.0,900.0,909.0,0.78,2120.0,1933450.0
...,...,...,...,...,...,...,...,...
1067,2026-02-09,665.1,677.0,659.0,667.0,-0.45,20351.0,13601792.5
1068,2026-02-10,656.0,670.0,656.0,659.1,-1.18,10708.0,7093661.2
1069,2026-02-11,670.0,679.0,656.0,665.0,0.90,8386.0,5530624.8
1070,2026-02-12,665.0,668.0,656.0,657.0,-1.20,16906.0,11184509.2
1071,2026-02-16,658.1,670.0,654.0,654.0,-0.46,17022.0,11209779.4

In [4]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [5]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2021-07-05,898.0,910.0,895.0,905.0,-0.88,1966.0,1773093.0
1,2021-07-06,905.0,945.0,892.0,910.0,0.55,1340.0,1227810.0
2,2021-07-07,893.0,907.0,893.0,907.0,-0.33,600.0,540534.0
3,2021-07-08,907.0,925.0,896.0,902.0,-0.55,2672.0,2432264.0
4,2021-07-11,901.0,930.0,900.0,909.0,0.78,2120.0,1933450.0
...,...,...,...,...,...,...,...,...
1067,2026-02-09,665.1,677.0,659.0,667.0,-0.45,20351.0,13601792.5
1068,2026-02-10,656.0,670.0,656.0,659.1,-1.18,10708.0,7093661.2
1069,2026-02-11,670.0,679.0,656.0,665.0,0.90,8386.0,5530624.8
1070,2026-02-12,665.0,668.0,656.0,657.0,-1.20,16906.0,11184509.2
1071,2026-02-16,658.1,670.0,654.0,654.0,-0.46,17022.0,11209779.4

In [6]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2021-07-05,898.0,910.0,895.0,905.0,-0.88,1966.0,1773093.0,2021
1,2021-07-06,905.0,945.0,892.0,910.0,0.55,1340.0,1227810.0,2021
2,2021-07-07,893.0,907.0,893.0,907.0,-0.33,600.0,540534.0,2021
3,2021-07-08,907.0,925.0,896.0,902.0,-0.55,2672.0,2432264.0,2021
4,2021-07-11,901.0,930.0,900.0,909.0,0.78,2120.0,1933450.0,2021
...,...,...,...,...,...,...,...,...,...
1067,2026-02-09,665.1,677.0,659.0,667.0,-0.45,20351.0,13601792.5,2026
1068,2026-02-10,656.0,670.0,656.0,659.1,-1.18,10708.0,7093661.2,2026
1069,2026-02-11,670.0,679.0,656.0,665.0,0.90,8386.0,5530624.8,2026
1070,2026-02-12,665.0,668.0,656.0,657.0,-1.20,16906.0,11184509.2,2026
1071,2026-02-16,658.1,670.0,654.0,654.0,-0.46,17022.0,11209779.4,2026

In [8]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'].dt.year.between(2022, 2025)].copy()

In [9]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
115,2022-01-02,900.0,928.0,895.0,928.0,1.42,1095.0,998950.0,2022
116,2022-01-03,930.0,930.0,901.0,904.0,-2.59,1100.0,1006381.1,2022
117,2022-01-04,922.0,922.0,907.0,907.0,0.33,1034.0,942656.0,2022
118,2022-01-05,910.0,938.0,910.0,931.0,2.65,1659.0,1540211.0,2022
119,2022-01-06,932.0,940.0,921.0,926.0,-0.54,330.0,306030.0,2022
...,...,...,...,...,...,...,...,...,...
1038,2025-12-23,717.0,734.0,717.0,729.8,-0.01,6538.0,4751972.6,2025
1039,2025-12-24,720.0,737.0,720.0,727.0,-0.38,18045.0,13106306.0,2025
1040,2025-12-28,667.0,695.0,666.0,695.0,5.16,16668.0,11277318.3,2025
1041,2025-12-29,704.8,704.9,678.0,687.0,-1.15,5540.0,3792336.8,2025
1042,2025-12-31,687.0,694.0,668.0,670.0,-2.47,45809.0,30945480.7,2025

In [10]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,900.0,928.0,895.0,928.0,1.42,1095.0,998950.0,2022
1,2022-01-03,930.0,930.0,901.0,904.0,-2.59,1100.0,1006381.1,2022
2,2022-01-04,922.0,922.0,907.0,907.0,0.33,1034.0,942656.0,2022
3,2022-01-05,910.0,938.0,910.0,931.0,2.65,1659.0,1540211.0,2022
4,2022-01-06,932.0,940.0,921.0,926.0,-0.54,330.0,306030.0,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,717.0,734.0,717.0,729.8,-0.01,6538.0,4751972.6,2025
924,2025-12-24,720.0,737.0,720.0,727.0,-0.38,18045.0,13106306.0,2025
925,2025-12-28,667.0,695.0,666.0,695.0,5.16,16668.0,11277318.3,2025
926,2025-12-29,704.8,704.9,678.0,687.0,-1.15,5540.0,3792336.8,2025
927,2025-12-31,687.0,694.0,668.0,670.0,-2.47,45809.0,30945480.7,2025

In [11]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025],
    'eps': [15.22, 17.14, 14.62, 18.59],
    'pe-ratio': [58.40, 48.20, 50.80, 35.34],
    'roe': [12.30, 14.45, 11.39, 13.97],
    'dividend': [10.53, 10.53, 15.79, 15.79]}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  15.22     58.40  12.30     10.53
1  2023  17.14     48.20  14.45     10.53
2  2024  14.62     50.80  11.39     15.79
3  2025  18.59     35.34  13.97     15.79

In [12]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,900.0,928.0,895.0,928.0,1.42,1095.0,998950.0,2022,15.22,58.40,12.30,10.53
1,2022-01-03,930.0,930.0,901.0,904.0,-2.59,1100.0,1006381.1,2022,15.22,58.40,12.30,10.53
2,2022-01-04,922.0,922.0,907.0,907.0,0.33,1034.0,942656.0,2022,15.22,58.40,12.30,10.53
3,2022-01-05,910.0,938.0,910.0,931.0,2.65,1659.0,1540211.0,2022,15.22,58.40,12.30,10.53
4,2022-01-06,932.0,940.0,921.0,926.0,-0.54,330.0,306030.0,2022,15.22,58.40,12.30,10.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,717.0,734.0,717.0,729.8,-0.01,6538.0,4751972.6,2025,18.59,35.34,13.97,15.79
924,2025-12-24,720.0,737.0,720.0,727.0,-0.38,18045.0,13106306.0,2025,18.59,35.34,13.97,15.79
925,2025-12-28,667.0,695.0,666.0,695.0,5.16,16668.0,11277318.3,2025,18.59,35.34,13.97,15.79
926,2025-12-29,704.8,704.9,678.0,687.0,-1.15,5540.0,3792336.8,2025,18.59,35.34,13.97,15.79
927,2025-12-31,687.0,694.0,668.0,670.0,-2.47,45809.0,30945480.7,2025,18.59,35.34,13.97,15.79

In [13]:
df = df.copy()
df.to_csv('../data-companywise/processed_data/RURU.csv', index = False)