In [1]:
#importing the pandas library
import pandas as pd

In [2]:

#reading the file
df = pd.read_csv('../data-companywise/SAHAS.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2021-12-08,622.3,634.0,594.0,595.0,-6.30,31289.0,18929146.0
1,2021-12-09,595.0,619.0,572.0,581.0,-2.35,44125.0,25700423.0
2,2021-12-12,570.1,584.6,545.0,545.0,-6.20,39265.0,21998112.2
3,2021-12-13,535.0,542.0,500.0,513.0,-5.87,38196.0,19595979.6
4,2021-12-14,505.0,564.0,505.0,563.0,9.75,14615.0,7901219.0
...,...,...,...,...,...,...,...,...
951,2026-01-14,550.0,557.0,547.2,547.9,-0.20,67358.0,37108884.5
952,2026-01-18,545.0,555.0,545.0,551.0,0.57,54790.0,30227381.1
953,2026-01-20,551.0,565.0,551.0,560.0,1.63,121694.0,68255750.2
954,2026-01-21,571.0,571.0,558.3,560.0,0.00,87745.0,49327164.3
955,2026-01-22,565.0,565.8,560.1,565.8,1.04,87463.0,49168747.1

In [3]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2021-12-08,622.3,634.0,594.0,595.0,-6.30,31289.0,18929146.0
1,2021-12-09,595.0,619.0,572.0,581.0,-2.35,44125.0,25700423.0
2,2021-12-12,570.1,584.6,545.0,545.0,-6.20,39265.0,21998112.2
3,2021-12-13,535.0,542.0,500.0,513.0,-5.87,38196.0,19595979.6
4,2021-12-14,505.0,564.0,505.0,563.0,9.75,14615.0,7901219.0
...,...,...,...,...,...,...,...,...
951,2026-01-14,550.0,557.0,547.2,547.9,-0.20,67358.0,37108884.5
952,2026-01-18,545.0,555.0,545.0,551.0,0.57,54790.0,30227381.1
953,2026-01-20,551.0,565.0,551.0,560.0,1.63,121694.0,68255750.2
954,2026-01-21,571.0,571.0,558.3,560.0,0.00,87745.0,49327164.3
955,2026-01-22,565.0,565.8,560.1,565.8,1.04,87463.0,49168747.1

In [5]:

#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [6]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2021-12-08,622.3,634.0,594.0,595.0,-6.30,31289.0,18929146.0,2021
1,2021-12-09,595.0,619.0,572.0,581.0,-2.35,44125.0,25700423.0,2021
2,2021-12-12,570.1,584.6,545.0,545.0,-6.20,39265.0,21998112.2,2021
3,2021-12-13,535.0,542.0,500.0,513.0,-5.87,38196.0,19595979.6,2021
4,2021-12-14,505.0,564.0,505.0,563.0,9.75,14615.0,7901219.0,2021
...,...,...,...,...,...,...,...,...,...
951,2026-01-14,550.0,557.0,547.2,547.9,-0.20,67358.0,37108884.5,2026
952,2026-01-18,545.0,555.0,545.0,551.0,0.57,54790.0,30227381.1,2026
953,2026-01-20,551.0,565.0,551.0,560.0,1.63,121694.0,68255750.2,2026
954,2026-01-21,571.0,571.0,558.3,560.0,0.00,87745.0,49327164.3,2026
955,2026-01-22,565.0,565.8,560.1,565.8,1.04,87463.0,49168747.1,2026

In [7]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year >= 2022].copy()

In [8]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
15,2022-01-02,540.0,565.0,534.2,549.0,0.73,15457.0,8417646.9,2022
16,2022-01-03,545.0,559.0,539.0,544.0,-0.91,46593.0,25564459.0,2022
17,2022-01-04,541.0,568.0,536.0,566.0,4.04,27443.0,15226271.3,2022
18,2022-01-05,565.0,608.0,560.6,580.0,2.47,69522.0,40744392.3,2022
19,2022-01-06,570.0,608.0,569.0,607.0,4.66,67178.0,40122758.1,2022
...,...,...,...,...,...,...,...,...,...
951,2026-01-14,550.0,557.0,547.2,547.9,-0.20,67358.0,37108884.5,2026
952,2026-01-18,545.0,555.0,545.0,551.0,0.57,54790.0,30227381.1,2026
953,2026-01-20,551.0,565.0,551.0,560.0,1.63,121694.0,68255750.2,2026
954,2026-01-21,571.0,571.0,558.3,560.0,0.00,87745.0,49327164.3,2026
955,2026-01-22,565.0,565.8,560.1,565.8,1.04,87463.0,49168747.1,2026

In [9]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,540.0,565.0,534.2,549.0,0.73,15457.0,8417646.9,2022
1,2022-01-03,545.0,559.0,539.0,544.0,-0.91,46593.0,25564459.0,2022
2,2022-01-04,541.0,568.0,536.0,566.0,4.04,27443.0,15226271.3,2022
3,2022-01-05,565.0,608.0,560.6,580.0,2.47,69522.0,40744392.3,2022
4,2022-01-06,570.0,608.0,569.0,607.0,4.66,67178.0,40122758.1,2022
...,...,...,...,...,...,...,...,...,...
936,2026-01-14,550.0,557.0,547.2,547.9,-0.20,67358.0,37108884.5,2026
937,2026-01-18,545.0,555.0,545.0,551.0,0.57,54790.0,30227381.1,2026
938,2026-01-20,551.0,565.0,551.0,560.0,1.63,121694.0,68255750.2,2026
939,2026-01-21,571.0,571.0,558.3,560.0,0.00,87745.0,49327164.3,2026
940,2026-01-22,565.0,565.8,560.1,565.8,1.04,87463.0,49168747.1,2026

In [10]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # Corresponding to FY 78/79, 79/80, 80/81, 81/82
    'eps': [0.18, 2.94, 9.10, 23.88],
    'pe-ratio': [3245.0, 185.20, 68.50, 28.50],
    'roe': [0.12, 1.84, 6.94, 13.63],
    'dividend': [0.00, 0.00, 8.42, 22.11]
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022   0.18    3245.0   0.12      0.00
1  2023   2.94     185.2   1.84      0.00
2  2024   9.10      68.5   6.94      8.42
3  2025  23.88      28.5  13.63     22.11

In [11]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,540.0,565.0,534.2,549.0,0.73,15457.0,8417646.9,2022,0.18,3245.0,0.12,0.0
1,2022-01-03,545.0,559.0,539.0,544.0,-0.91,46593.0,25564459.0,2022,0.18,3245.0,0.12,0.0
2,2022-01-04,541.0,568.0,536.0,566.0,4.04,27443.0,15226271.3,2022,0.18,3245.0,0.12,0.0
3,2022-01-05,565.0,608.0,560.6,580.0,2.47,69522.0,40744392.3,2022,0.18,3245.0,0.12,0.0
4,2022-01-06,570.0,608.0,569.0,607.0,4.66,67178.0,40122758.1,2022,0.18,3245.0,0.12,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,2026-01-14,550.0,557.0,547.2,547.9,-0.20,67358.0,37108884.5,2026,NaN,NaN,NaN,NaN
937,2026-01-18,545.0,555.0,545.0,551.0,0.57,54790.0,30227381.1,2026,NaN,NaN,NaN,NaN
938,2026-01-20,551.0,565.0,551.0,560.0,1.63,121694.0,68255750.2,2026,NaN,NaN,NaN,NaN
939,2026-01-21,571.0,571.0,558.3,560.0,0.00,87745.0,49327164.3,2026,NaN,NaN,NaN,NaN
940,2026-01-22,565.0,565.8,560.1,565.8,1.04,87463.0,49168747.1,2026,NaN,NaN,NaN,NaN

In [12]:
df = df.copy()
df.to_csv('../data-companywise/SAHAS.csv', index = False)

In [ ]:
#PROBLEM SOLUTION:
# git config --global core.autocrlf true