In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/SBL.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2011-06-02,231.0,227.0,215.0,216.0,NaN,1244.0,270378.0,0
1,2011-06-05,216.0,216.0,210.0,212.0,-1.85,756.0,161420.0,0
2,2011-06-06,212.0,209.0,204.0,208.0,-1.89,556.0,114958.0,0
3,2011-06-07,208.0,205.0,196.0,201.0,-3.37,1083.0,216121.0,0
4,2011-06-08,201.0,200.0,197.0,200.0,-0.50,834.0,165224.0,0
...,...,...,...,...,...,...,...,...,...
3207,2026-01-26,397.0,405.9,396.0,398.0,0.51,119138.0,47500046.2,1
3208,2026-01-27,396.1,396.1,387.0,387.0,-2.76,73856.0,28934999.7,-1
3209,2026-01-28,394.0,394.0,388.1,391.7,1.21,128404.0,50061381.4,-1
3210,2026-01-29,395.1,399.0,388.0,388.0,-0.94,136451.0,53438807.5,-1
3211,2026-02-01,394.0,394.0,385.1,385.1,-0.75,212430.0,82223575.6,-1

In [3]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
df.drop(columns = 'status', inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2011-06-02,231.0,227.0,215.0,216.0,NaN,1244.0,270378.0
1,2011-06-05,216.0,216.0,210.0,212.0,-1.85,756.0,161420.0
2,2011-06-06,212.0,209.0,204.0,208.0,-1.89,556.0,114958.0
3,2011-06-07,208.0,205.0,196.0,201.0,-3.37,1083.0,216121.0
4,2011-06-08,201.0,200.0,197.0,200.0,-0.50,834.0,165224.0
...,...,...,...,...,...,...,...,...
3207,2026-01-26,397.0,405.9,396.0,398.0,0.51,119138.0,47500046.2
3208,2026-01-27,396.1,396.1,387.0,387.0,-2.76,73856.0,28934999.7
3209,2026-01-28,394.0,394.0,388.1,391.7,1.21,128404.0,50061381.4
3210,2026-01-29,395.1,399.0,388.0,388.0,-0.94,136451.0,53438807.5
3211,2026-02-01,394.0,394.0,385.1,385.1,-0.75,212430.0,82223575.6

In [5]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [6]:
#filtering the data from 2022 to 2025
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'].dt.year.between(2022, 2025)].copy()

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
2265,2022-01-02,414.2,421.0,405.0,413.6,1.84,93520.0,38403012.7,2022
2266,2022-01-03,418.0,427.0,415.0,426.0,3.00,86955.0,36799283.7,2022
2267,2022-01-04,429.9,452.0,419.5,450.1,5.66,154504.0,67750757.9,2022
2268,2022-01-05,455.0,455.0,436.1,438.0,-2.69,111207.0,49482499.2,2022
2269,2022-01-06,440.0,452.0,434.0,451.1,2.99,146497.0,65311890.5,2022
...,...,...,...,...,...,...,...,...,...
3188,2025-12-23,356.0,362.9,355.4,360.6,1.38,56783.0,20446947.9,2025
3189,2025-12-24,356.0,377.0,356.0,374.9,3.97,171595.0,63269053.9,2025
3190,2025-12-28,378.8,382.5,370.0,381.5,1.76,200082.0,75843473.0,2025
3191,2025-12-29,375.5,385.0,375.5,380.0,-0.39,109535.0,41631495.2,2025
3192,2025-12-31,380.0,382.5,375.0,376.9,-0.82,67953.0,25779554.8,2025

In [8]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,414.2,421.0,405.0,413.6,1.84,93520.0,38403012.7,2022
1,2022-01-03,418.0,427.0,415.0,426.0,3.00,86955.0,36799283.7,2022
2,2022-01-04,429.9,452.0,419.5,450.1,5.66,154504.0,67750757.9,2022
3,2022-01-05,455.0,455.0,436.1,438.0,-2.69,111207.0,49482499.2,2022
4,2022-01-06,440.0,452.0,434.0,451.1,2.99,146497.0,65311890.5,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,356.0,362.9,355.4,360.6,1.38,56783.0,20446947.9,2025
924,2025-12-24,356.0,377.0,356.0,374.9,3.97,171595.0,63269053.9,2025
925,2025-12-28,378.8,382.5,370.0,381.5,1.76,200082.0,75843473.0,2025
926,2025-12-29,375.5,385.0,375.5,380.0,-0.39,109535.0,41631495.2,2025
927,2025-12-31,380.0,382.5,375.0,376.9,-0.82,67953.0,25779554.8,2025

In [9]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # Corresponding to FY 78/79, 79/80, 80/81, 81/82
    'eps': [22.42, 11.23, 10.05, 17.93],
    'pe-ratio': [13.20, 23.40, 26.50, 21.51],
    'roe': [12.60, 6.20, 5.80, 9.15],
    'dividend': [13.16, 4.21, 4.00, 10.53]}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  22.42     13.20  12.60     13.16
1  2023  11.23     23.40   6.20      4.21
2  2024  10.05     26.50   5.80      4.00
3  2025  17.93     21.51   9.15     10.53

In [10]:

# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,414.2,421.0,405.0,413.6,1.84,93520.0,38403012.7,2022,22.42,13.20,12.60,13.16
1,2022-01-03,418.0,427.0,415.0,426.0,3.00,86955.0,36799283.7,2022,22.42,13.20,12.60,13.16
2,2022-01-04,429.9,452.0,419.5,450.1,5.66,154504.0,67750757.9,2022,22.42,13.20,12.60,13.16
3,2022-01-05,455.0,455.0,436.1,438.0,-2.69,111207.0,49482499.2,2022,22.42,13.20,12.60,13.16
4,2022-01-06,440.0,452.0,434.0,451.1,2.99,146497.0,65311890.5,2022,22.42,13.20,12.60,13.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,356.0,362.9,355.4,360.6,1.38,56783.0,20446947.9,2025,17.93,21.51,9.15,10.53
924,2025-12-24,356.0,377.0,356.0,374.9,3.97,171595.0,63269053.9,2025,17.93,21.51,9.15,10.53
925,2025-12-28,378.8,382.5,370.0,381.5,1.76,200082.0,75843473.0,2025,17.93,21.51,9.15,10.53
926,2025-12-29,375.5,385.0,375.5,380.0,-0.39,109535.0,41631495.2,2025,17.93,21.51,9.15,10.53
927,2025-12-31,380.0,382.5,375.0,376.9,-0.82,67953.0,25779554.8,2025,17.93,21.51,9.15,10.53

In [11]:
df = df.copy()
df.to_csv('../data-companywise/SBL.csv', index = False)