In [18]:
#importing the libraries
import pandas as pd

In [19]:
#reading the csv file
df = pd.read_csv('SCB.csv')
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2022-01-02,447.0,457.9,439.1,457.9,2.44,16214.0,7294539.2
1,2022-01-03,466.9,467.0,457.9,462.0,0.90,14593.0,6735724.1
2,2022-01-04,462.0,508.2,452.8,497.0,7.58,48028.0,23587557.0
3,2022-01-05,488.0,515.0,482.2,489.0,-1.61,16531.0,8196669.8
4,2022-01-06,480.0,525.0,480.0,510.0,4.29,31673.0,15905067.2
...,...,...,...,...,...,...,...,...
936,2026-01-14,633.1,639.9,630.1,631.4,-0.27,14973.0,9467543.0
937,2026-01-18,632.5,636.0,631.4,633.1,0.27,11893.0,7529962.5
938,2026-01-20,630.0,642.0,630.0,640.6,1.18,20233.0,12937771.7
939,2026-01-21,638.0,642.0,636.0,638.0,-0.41,20013.0,12744320.4
940,2026-01-22,634.6,642.5,628.0,631.0,-1.10,54460.0,34356032.7

In [20]:

# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [21]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2022-01-02,447.0,457.9,439.1,457.9,2.44,16214.0,7294539.2
1,2022-01-03,466.9,467.0,457.9,462.0,0.90,14593.0,6735724.1
2,2022-01-04,462.0,508.2,452.8,497.0,7.58,48028.0,23587557.0
3,2022-01-05,488.0,515.0,482.2,489.0,-1.61,16531.0,8196669.8
4,2022-01-06,480.0,525.0,480.0,510.0,4.29,31673.0,15905067.2
...,...,...,...,...,...,...,...,...
936,2026-01-14,633.1,639.9,630.1,631.4,-0.27,14973.0,9467543.0
937,2026-01-18,632.5,636.0,631.4,633.1,0.27,11893.0,7529962.5
938,2026-01-20,630.0,642.0,630.0,640.6,1.18,20233.0,12937771.7
939,2026-01-21,638.0,642.0,636.0,638.0,-0.41,20013.0,12744320.4
940,2026-01-22,634.6,642.5,628.0,631.0,-1.10,54460.0,34356032.7

In [22]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year >= 2022].copy()
df.to_csv('SCB.csv', index= False)

In [23]:
#resetting index
df.reset_index(drop = True,  inplace= True)
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2022-01-02,447.0,457.9,439.1,457.9,2.44,16214.0,7294539.2
1,2022-01-03,466.9,467.0,457.9,462.0,0.90,14593.0,6735724.1
2,2022-01-04,462.0,508.2,452.8,497.0,7.58,48028.0,23587557.0
3,2022-01-05,488.0,515.0,482.2,489.0,-1.61,16531.0,8196669.8
4,2022-01-06,480.0,525.0,480.0,510.0,4.29,31673.0,15905067.2
...,...,...,...,...,...,...,...,...
936,2026-01-14,633.1,639.9,630.1,631.4,-0.27,14973.0,9467543.0
937,2026-01-18,632.5,636.0,631.4,633.1,0.27,11893.0,7529962.5
938,2026-01-20,630.0,642.0,630.0,640.6,1.18,20233.0,12937771.7
939,2026-01-21,638.0,642.0,636.0,638.0,-0.41,20013.0,12744320.4
940,2026-01-22,634.6,642.5,628.0,631.0,-1.10,54460.0,34356032.7

In [24]:
df['year'] = df['date'].dt.year
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,447.0,457.9,439.1,457.9,2.44,16214.0,7294539.2,2022
1,2022-01-03,466.9,467.0,457.9,462.0,0.90,14593.0,6735724.1,2022
2,2022-01-04,462.0,508.2,452.8,497.0,7.58,48028.0,23587557.0,2022
3,2022-01-05,488.0,515.0,482.2,489.0,-1.61,16531.0,8196669.8,2022
4,2022-01-06,480.0,525.0,480.0,510.0,4.29,31673.0,15905067.2,2022
...,...,...,...,...,...,...,...,...,...
936,2026-01-14,633.1,639.9,630.1,631.4,-0.27,14973.0,9467543.0,2026
937,2026-01-18,632.5,636.0,631.4,633.1,0.27,11893.0,7529962.5,2026
938,2026-01-20,630.0,642.0,630.0,640.6,1.18,20233.0,12937771.7,2026
939,2026-01-21,638.0,642.0,636.0,638.0,-0.41,20013.0,12744320.4,2026
940,2026-01-22,634.6,642.5,628.0,631.0,-1.10,54460.0,34356032.7,2026

In [25]:
#adding the fundamental data
fundamental_data = {
    'year':[2022,2023,2024,2025],
    'eps':[37.36, 43.19, 30.17, 27.35],
    'pe-ratio':[16.51, 14.80, 20.15, 23.03],
    'roe':[14.15, 17.55, 14.30, 12.96],
    'dividend':[16.51, 19.00, 25.50, 19.00]
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  37.36     16.51  14.15     16.51
1  2023  43.19     14.80  17.55     19.00
2  2024  30.17     20.15  14.30     25.50
3  2025  27.35     23.03  12.96     19.00

In [26]:

df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,447.0,457.9,439.1,457.9,2.44,16214.0,7294539.2,2022,37.36,16.51,14.15,16.51
1,2022-01-03,466.9,467.0,457.9,462.0,0.90,14593.0,6735724.1,2022,37.36,16.51,14.15,16.51
2,2022-01-04,462.0,508.2,452.8,497.0,7.58,48028.0,23587557.0,2022,37.36,16.51,14.15,16.51
3,2022-01-05,488.0,515.0,482.2,489.0,-1.61,16531.0,8196669.8,2022,37.36,16.51,14.15,16.51
4,2022-01-06,480.0,525.0,480.0,510.0,4.29,31673.0,15905067.2,2022,37.36,16.51,14.15,16.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,2026-01-14,633.1,639.9,630.1,631.4,-0.27,14973.0,9467543.0,2026,NaN,NaN,NaN,NaN
937,2026-01-18,632.5,636.0,631.4,633.1,0.27,11893.0,7529962.5,2026,NaN,NaN,NaN,NaN
938,2026-01-20,630.0,642.0,630.0,640.6,1.18,20233.0,12937771.7,2026,NaN,NaN,NaN,NaN
939,2026-01-21,638.0,642.0,636.0,638.0,-0.41,20013.0,12744320.4,2026,NaN,NaN,NaN,NaN
940,2026-01-22,634.6,642.5,628.0,631.0,-1.10,54460.0,34356032.7,2026,NaN,NaN,NaN,NaN

In [27]:
df = df.copy()
df.to_csv('SCB.csv')