In [1]:
#importing the pandas library
import pandas as pd

In [3]:
#reading the file
df = pd.read_csv('../data-companywise/raw_data/SHEL.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2021-07-05,398.0,410.0,398.0,404.0,-0.49,4652.0,1867603.0,-1
1,2021-07-06,397.0,413.0,396.0,399.0,-1.24,5470.0,2195355.0,-1
2,2021-07-07,393.0,405.0,392.0,394.0,-1.25,4523.0,1787768.0,-1
3,2021-07-08,375.0,404.0,375.0,397.0,0.76,9432.0,3749118.0,1
4,2021-07-11,397.0,405.0,397.0,404.0,1.76,7190.0,2883995.0,1
...,...,...,...,...,...,...,...,...,...
1067,2026-02-09,297.0,298.6,292.0,296.5,0.17,185641.0,54795800.8,-1
1068,2026-02-10,293.0,307.0,293.0,301.8,1.79,406564.0,122906112.4,1
1069,2026-02-11,305.0,330.0,303.9,328.0,8.68,1852367.0,587658198.9,1
1070,2026-02-12,334.5,339.5,315.0,317.0,-3.35,777158.0,253340058.4,-1
1071,2026-02-16,311.0,322.0,306.1,306.1,-3.44,552263.0,171622207.8,-1

In [4]:
#dropping the status column
df.drop(columns = 'status', inplace = True)
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2021-07-05,398.0,410.0,398.0,404.0,-0.49,4652.0,1867603.0
1,2021-07-06,397.0,413.0,396.0,399.0,-1.24,5470.0,2195355.0
2,2021-07-07,393.0,405.0,392.0,394.0,-1.25,4523.0,1787768.0
3,2021-07-08,375.0,404.0,375.0,397.0,0.76,9432.0,3749118.0
4,2021-07-11,397.0,405.0,397.0,404.0,1.76,7190.0,2883995.0
...,...,...,...,...,...,...,...,...
1067,2026-02-09,297.0,298.6,292.0,296.5,0.17,185641.0,54795800.8
1068,2026-02-10,293.0,307.0,293.0,301.8,1.79,406564.0,122906112.4
1069,2026-02-11,305.0,330.0,303.9,328.0,8.68,1852367.0,587658198.9
1070,2026-02-12,334.5,339.5,315.0,317.0,-3.35,777158.0,253340058.4
1071,2026-02-16,311.0,322.0,306.1,306.1,-3.44,552263.0,171622207.8

In [5]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [6]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2021-07-05,398.0,410.0,398.0,404.0,-0.49,4652.0,1867603.0
1,2021-07-06,397.0,413.0,396.0,399.0,-1.24,5470.0,2195355.0
2,2021-07-07,393.0,405.0,392.0,394.0,-1.25,4523.0,1787768.0
3,2021-07-08,375.0,404.0,375.0,397.0,0.76,9432.0,3749118.0
4,2021-07-11,397.0,405.0,397.0,404.0,1.76,7190.0,2883995.0
...,...,...,...,...,...,...,...,...
1067,2026-02-09,297.0,298.6,292.0,296.5,0.17,185641.0,54795800.8
1068,2026-02-10,293.0,307.0,293.0,301.8,1.79,406564.0,122906112.4
1069,2026-02-11,305.0,330.0,303.9,328.0,8.68,1852367.0,587658198.9
1070,2026-02-12,334.5,339.5,315.0,317.0,-3.35,777158.0,253340058.4
1071,2026-02-16,311.0,322.0,306.1,306.1,-3.44,552263.0,171622207.8

In [7]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [8]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2021-07-05,398.0,410.0,398.0,404.0,-0.49,4652.0,1867603.0,2021
1,2021-07-06,397.0,413.0,396.0,399.0,-1.24,5470.0,2195355.0,2021
2,2021-07-07,393.0,405.0,392.0,394.0,-1.25,4523.0,1787768.0,2021
3,2021-07-08,375.0,404.0,375.0,397.0,0.76,9432.0,3749118.0,2021
4,2021-07-11,397.0,405.0,397.0,404.0,1.76,7190.0,2883995.0,2021
...,...,...,...,...,...,...,...,...,...
1067,2026-02-09,297.0,298.6,292.0,296.5,0.17,185641.0,54795800.8,2026
1068,2026-02-10,293.0,307.0,293.0,301.8,1.79,406564.0,122906112.4,2026
1069,2026-02-11,305.0,330.0,303.9,328.0,8.68,1852367.0,587658198.9,2026
1070,2026-02-12,334.5,339.5,315.0,317.0,-3.35,777158.0,253340058.4,2026
1071,2026-02-16,311.0,322.0,306.1,306.1,-3.44,552263.0,171622207.8,2026

In [9]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'].dt.year.between(2022, 2025)].copy()

In [10]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
115,2022-01-02,385.8,385.8,370.7,375.3,-0.79,4074.0,1531556.0,2022
116,2022-01-03,380.0,387.0,375.0,380.0,1.25,5714.0,2161616.0,2022
117,2022-01-04,373.0,392.0,368.5,392.0,3.16,3544.0,1366017.2,2022
118,2022-01-05,386.0,408.0,381.0,388.2,-0.97,11613.0,4613575.9,2022
119,2022-01-06,381.0,397.0,381.0,393.0,1.24,3973.0,1547834.0,2022
...,...,...,...,...,...,...,...,...,...
1038,2025-12-23,268.3,272.0,267.1,270.5,-0.55,42273.0,11383456.9,2025
1039,2025-12-24,270.0,272.9,267.1,268.0,-0.92,38084.0,10243207.4,2025
1040,2025-12-28,271.0,281.5,267.1,277.9,3.69,99838.0,27474427.5,2025
1041,2025-12-29,283.0,283.0,272.5,273.6,-1.55,105880.0,29294582.8,2025
1042,2025-12-31,277.7,278.8,272.4,275.6,0.73,86535.0,23880819.8,2025

In [11]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,385.8,385.8,370.7,375.3,-0.79,4074.0,1531556.0,2022
1,2022-01-03,380.0,387.0,375.0,380.0,1.25,5714.0,2161616.0,2022
2,2022-01-04,373.0,392.0,368.5,392.0,3.16,3544.0,1366017.2,2022
3,2022-01-05,386.0,408.0,381.0,388.2,-0.97,11613.0,4613575.9,2022
4,2022-01-06,381.0,397.0,381.0,393.0,1.24,3973.0,1547834.0,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,268.3,272.0,267.1,270.5,-0.55,42273.0,11383456.9,2025
924,2025-12-24,270.0,272.9,267.1,268.0,-0.92,38084.0,10243207.4,2025
925,2025-12-28,271.0,281.5,267.1,277.9,3.69,99838.0,27474427.5,2025
926,2025-12-29,283.0,283.0,272.5,273.6,-1.55,105880.0,29294582.8,2025
927,2025-12-31,277.7,278.8,272.4,275.6,0.73,86535.0,23880819.8,2025

In [12]:
fundamental_data_shel_actual = {
    'year': [2022, 2023, 2024, 2025], 
    'eps': [0.13, -2.27, -0.31, 5.17],
    'pe-ratio': [1250.0, -112.50, -817.0, 61.20],
    'roe': [0.15, -2.42, -0.33, 4.89],
    'dividend': [0.00, 0.00, 0.00, 5.00]}

df_shel = pd.DataFrame(fundamental_data_shel_actual)
df_shel

   year   eps  pe-ratio   roe  dividend
0  2022  0.13    1250.0  0.15       0.0
1  2023 -2.27    -112.5 -2.42       0.0
2  2024 -0.31    -817.0 -0.33       0.0
3  2025  5.17      61.2  4.89       5.0

In [13]:

# merging
df = pd.merge(df, df_shel, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,385.8,385.8,370.7,375.3,-0.79,4074.0,1531556.0,2022,0.13,1250.0,0.15,0.0
1,2022-01-03,380.0,387.0,375.0,380.0,1.25,5714.0,2161616.0,2022,0.13,1250.0,0.15,0.0
2,2022-01-04,373.0,392.0,368.5,392.0,3.16,3544.0,1366017.2,2022,0.13,1250.0,0.15,0.0
3,2022-01-05,386.0,408.0,381.0,388.2,-0.97,11613.0,4613575.9,2022,0.13,1250.0,0.15,0.0
4,2022-01-06,381.0,397.0,381.0,393.0,1.24,3973.0,1547834.0,2022,0.13,1250.0,0.15,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,268.3,272.0,267.1,270.5,-0.55,42273.0,11383456.9,2025,5.17,61.2,4.89,5.0
924,2025-12-24,270.0,272.9,267.1,268.0,-0.92,38084.0,10243207.4,2025,5.17,61.2,4.89,5.0
925,2025-12-28,271.0,281.5,267.1,277.9,3.69,99838.0,27474427.5,2025,5.17,61.2,4.89,5.0
926,2025-12-29,283.0,283.0,272.5,273.6,-1.55,105880.0,29294582.8,2025,5.17,61.2,4.89,5.0
927,2025-12-31,277.7,278.8,272.4,275.6,0.73,86535.0,23880819.8,2025,5.17,61.2,4.89,5.0

In [14]:
df = df.copy()
df.to_csv('../data-companywise/processed_data/SHEL.csv', index = False)