In [3]:
#importing the pandas library
import pandas as pd

In [4]:
csv_path = "S:/data science project/nepse_dataanalysis/share_data/SHL.csv"
SHL_df = pd.read_csv(csv_path)

In [5]:
SHL_df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2011-03-27,237.0,235.0,235.0,235.0,NaN,1239.0,291165.0,0
1,2011-03-28,235.0,233.0,233.0,233.0,-0.85,100.0,23300.0,0
2,2011-03-29,233.0,229.0,225.0,225.0,-3.43,1062.0,239810.0,0
3,2011-03-30,225.0,225.0,225.0,225.0,0.00,123.0,27675.0,0
4,2011-03-31,225.0,222.0,218.0,218.0,-3.11,644.0,140836.0,0
...,...,...,...,...,...,...,...,...,...
2951,2026-01-14,499.0,503.0,487.7,498.0,0.46,46757.0,23218898.2,-1
2952,2026-01-18,502.0,502.0,497.3,498.0,0.00,29400.0,14676960.5,-1
2953,2026-01-20,502.0,515.2,499.0,515.0,3.41,99453.0,50724250.1,1
2954,2026-01-21,509.0,512.0,500.0,502.0,-2.52,31970.0,16162396.1,-1
2955,2026-01-22,500.0,510.0,495.0,501.8,-0.04,17717.0,8889773.6,1

In [6]:
# Just call the function; do not use the "=" sign
SHL_df.drop(columns=['status'], inplace=True)
SHL_df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2011-03-27,237.0,235.0,235.0,235.0,NaN,1239.0,291165.0
1,2011-03-28,235.0,233.0,233.0,233.0,-0.85,100.0,23300.0
2,2011-03-29,233.0,229.0,225.0,225.0,-3.43,1062.0,239810.0
3,2011-03-30,225.0,225.0,225.0,225.0,0.00,123.0,27675.0
4,2011-03-31,225.0,222.0,218.0,218.0,-3.11,644.0,140836.0
...,...,...,...,...,...,...,...,...
2951,2026-01-14,499.0,503.0,487.7,498.0,0.46,46757.0,23218898.2
2952,2026-01-18,502.0,502.0,497.3,498.0,0.00,29400.0,14676960.5
2953,2026-01-20,502.0,515.2,499.0,515.0,3.41,99453.0,50724250.1
2954,2026-01-21,509.0,512.0,500.0,502.0,-2.52,31970.0,16162396.1
2955,2026-01-22,500.0,510.0,495.0,501.8,-0.04,17717.0,8889773.6

In [7]:
#renaming the published_date to date
# Rename specific columns to the "Perfect Schema"
SHL_df = SHL_df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [8]:
#filtering the data from 2022
SHL_df['date'] = pd.to_datetime(SHL_df['date'])
SHL_df=SHL_df[SHL_df['date'].dt.year >= 2022].copy()
SHL_df.to_csv('SHL.csv', index= False)

In [9]:
SHL_df

,date,open,high,low,close,price_change_pct,volume,turnover
2015,2022-01-02,210.5,210.5,205.8,208.0,-0.48,18999.0,3932807.0
2016,2022-01-03,209.0,213.0,208.0,211.0,1.44,17758.0,3749380.5
2017,2022-01-04,210.0,215.3,208.0,214.0,1.42,36481.0,7770474.5
2018,2022-01-05,214.0,217.0,208.8,210.3,-1.73,17351.0,3707132.8
2019,2022-01-06,211.0,220.0,208.0,217.0,3.19,29617.0,6320346.1
...,...,...,...,...,...,...,...,...
2951,2026-01-14,499.0,503.0,487.7,498.0,0.46,46757.0,23218898.2
2952,2026-01-18,502.0,502.0,497.3,498.0,0.00,29400.0,14676960.5
2953,2026-01-20,502.0,515.2,499.0,515.0,3.41,99453.0,50724250.1
2954,2026-01-21,509.0,512.0,500.0,502.0,-2.52,31970.0,16162396.1
2955,2026-01-22,500.0,510.0,495.0,501.8,-0.04,17717.0,8889773.6

In [10]:
# Rename specific columns to the "Perfect Schema"
SHL_df.reset_index(drop= True, inplace = True)
SHL_df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2022-01-02,210.5,210.5,205.8,208.0,-0.48,18999.0,3932807.0
1,2022-01-03,209.0,213.0,208.0,211.0,1.44,17758.0,3749380.5
2,2022-01-04,210.0,215.3,208.0,214.0,1.42,36481.0,7770474.5
3,2022-01-05,214.0,217.0,208.8,210.3,-1.73,17351.0,3707132.8
4,2022-01-06,211.0,220.0,208.0,217.0,3.19,29617.0,6320346.1
...,...,...,...,...,...,...,...,...
936,2026-01-14,499.0,503.0,487.7,498.0,0.46,46757.0,23218898.2
937,2026-01-18,502.0,502.0,497.3,498.0,0.00,29400.0,14676960.5
938,2026-01-20,502.0,515.2,499.0,515.0,3.41,99453.0,50724250.1
939,2026-01-21,509.0,512.0,500.0,502.0,-2.52,31970.0,16162396.1
940,2026-01-22,500.0,510.0,495.0,501.8,-0.04,17717.0,8889773.6

In [11]:
#adding the column
df = SHL_df.copy()
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2022-01-02,210.5,210.5,205.8,208.0,-0.48,18999.0,3932807.0
1,2022-01-03,209.0,213.0,208.0,211.0,1.44,17758.0,3749380.5
2,2022-01-04,210.0,215.3,208.0,214.0,1.42,36481.0,7770474.5
3,2022-01-05,214.0,217.0,208.8,210.3,-1.73,17351.0,3707132.8
4,2022-01-06,211.0,220.0,208.0,217.0,3.19,29617.0,6320346.1
...,...,...,...,...,...,...,...,...
936,2026-01-14,499.0,503.0,487.7,498.0,0.46,46757.0,23218898.2
937,2026-01-18,502.0,502.0,497.3,498.0,0.00,29400.0,14676960.5
938,2026-01-20,502.0,515.2,499.0,515.0,3.41,99453.0,50724250.1
939,2026-01-21,509.0,512.0,500.0,502.0,-2.52,31970.0,16162396.1
940,2026-01-22,500.0,510.0,495.0,501.8,-0.04,17717.0,8889773.6

In [12]:
df['year'] = df['date'].dt.year
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,210.5,210.5,205.8,208.0,-0.48,18999.0,3932807.0,2022
1,2022-01-03,209.0,213.0,208.0,211.0,1.44,17758.0,3749380.5,2022
2,2022-01-04,210.0,215.3,208.0,214.0,1.42,36481.0,7770474.5,2022
3,2022-01-05,214.0,217.0,208.8,210.3,-1.73,17351.0,3707132.8,2022
4,2022-01-06,211.0,220.0,208.0,217.0,3.19,29617.0,6320346.1,2022
...,...,...,...,...,...,...,...,...,...
936,2026-01-14,499.0,503.0,487.7,498.0,0.46,46757.0,23218898.2,2026
937,2026-01-18,502.0,502.0,497.3,498.0,0.00,29400.0,14676960.5,2026
938,2026-01-20,502.0,515.2,499.0,515.0,3.41,99453.0,50724250.1,2026
939,2026-01-21,509.0,512.0,500.0,502.0,-2.52,31970.0,16162396.1,2026
940,2026-01-22,500.0,510.0,495.0,501.8,-0.04,17717.0,8889773.6,2026

In [13]:
#adding some fundamental signals
fundamental_data = {
    'year':[2022,2023,2024,2025],
    'eps':[1.95,5.37,6.47,6.56],
    'pe-ratio':[98.4,82.5,78.2,81.7],
    'roe':[11.5,23.4,26.6,25.6],
    'dividend':[26.3,31.5,36.8,31.6]
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year   eps  pe-ratio   roe  dividend
0  2022  1.95      98.4  11.5      26.3
1  2023  5.37      82.5  23.4      31.5
2  2024  6.47      78.2  26.6      36.8
3  2025  6.56      81.7  25.6      31.6

In [14]:
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,210.5,210.5,205.8,208.0,-0.48,18999.0,3932807.0,2022,1.95,98.4,11.5,26.3
1,2022-01-03,209.0,213.0,208.0,211.0,1.44,17758.0,3749380.5,2022,1.95,98.4,11.5,26.3
2,2022-01-04,210.0,215.3,208.0,214.0,1.42,36481.0,7770474.5,2022,1.95,98.4,11.5,26.3
3,2022-01-05,214.0,217.0,208.8,210.3,-1.73,17351.0,3707132.8,2022,1.95,98.4,11.5,26.3
4,2022-01-06,211.0,220.0,208.0,217.0,3.19,29617.0,6320346.1,2022,1.95,98.4,11.5,26.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,2026-01-14,499.0,503.0,487.7,498.0,0.46,46757.0,23218898.2,2026,NaN,NaN,NaN,NaN
937,2026-01-18,502.0,502.0,497.3,498.0,0.00,29400.0,14676960.5,2026,NaN,NaN,NaN,NaN
938,2026-01-20,502.0,515.2,499.0,515.0,3.41,99453.0,50724250.1,2026,NaN,NaN,NaN,NaN
939,2026-01-21,509.0,512.0,500.0,502.0,-2.52,31970.0,16162396.1,2026,NaN,NaN,NaN,NaN
940,2026-01-22,500.0,510.0,495.0,501.8,-0.04,17717.0,8889773.6,2026,NaN,NaN,NaN,NaN

In [17]:
df.tail(200)

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
741,2025-03-03,517.0,521.0,507.0,511.0,-1.35,74206.0,38254448.5,2025,6.56,81.7,25.6,31.6
742,2025-03-04,515.0,519.0,497.9,506.0,-0.98,66830.0,34184328.3,2025,6.56,81.7,25.6,31.6
743,2025-03-05,506.0,514.0,494.1,503.0,-0.59,47814.0,24106250.6,2025,6.56,81.7,25.6,31.6
744,2025-03-06,503.0,506.0,491.0,500.0,-0.60,41007.0,20496464.6,2025,6.56,81.7,25.6,31.6
745,2025-03-09,500.1,505.5,490.0,498.0,-0.40,52240.0,26045797.2,2025,6.56,81.7,25.6,31.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,2026-01-14,499.0,503.0,487.7,498.0,0.46,46757.0,23218898.2,2026,NaN,NaN,NaN,NaN
937,2026-01-18,502.0,502.0,497.3,498.0,0.00,29400.0,14676960.5,2026,NaN,NaN,NaN,NaN
938,2026-01-20,502.0,515.2,499.0,515.0,3.41,99453.0,50724250.1,2026,NaN,NaN,NaN,NaN
939,2026-01-21,509.0,512.0,500.0,502.0,-2.52,31970.0,16162396.1,2026,NaN,NaN,NaN,NaN
940,2026-01-22,500.0,510.0,495.0,501.8,-0.04,17717.0,8889773.6,2026,NaN,NaN,NaN,NaN

In [18]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,210.5,210.5,205.8,208.0,-0.48,18999.0,3932807.0,2022,1.95,98.4,11.5,26.3
1,2022-01-03,209.0,213.0,208.0,211.0,1.44,17758.0,3749380.5,2022,1.95,98.4,11.5,26.3
2,2022-01-04,210.0,215.3,208.0,214.0,1.42,36481.0,7770474.5,2022,1.95,98.4,11.5,26.3
3,2022-01-05,214.0,217.0,208.8,210.3,-1.73,17351.0,3707132.8,2022,1.95,98.4,11.5,26.3
4,2022-01-06,211.0,220.0,208.0,217.0,3.19,29617.0,6320346.1,2022,1.95,98.4,11.5,26.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,2026-01-14,499.0,503.0,487.7,498.0,0.46,46757.0,23218898.2,2026,NaN,NaN,NaN,NaN
937,2026-01-18,502.0,502.0,497.3,498.0,0.00,29400.0,14676960.5,2026,NaN,NaN,NaN,NaN
938,2026-01-20,502.0,515.2,499.0,515.0,3.41,99453.0,50724250.1,2026,NaN,NaN,NaN,NaN
939,2026-01-21,509.0,512.0,500.0,502.0,-2.52,31970.0,16162396.1,2026,NaN,NaN,NaN,NaN
940,2026-01-22,500.0,510.0,495.0,501.8,-0.04,17717.0,8889773.6,2026,NaN,NaN,NaN,NaN

In [19]:
df = df.copy()
df.to_csv('SHL.csv')