In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/TRH.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2011-08-29,93.0,94.0,92.0,94.0,NaN,9298.0,858426.0
1,2011-08-30,94.0,93.0,93.0,93.0,-1.06,30.0,2790.0
2,2011-09-04,93.0,92.0,92.0,92.0,-1.08,230.0,21160.0
3,2011-09-05,92.0,91.0,91.0,91.0,-1.09,20.0,1820.0
4,2011-09-12,91.0,91.0,90.0,91.0,0.00,490.0,44210.0
...,...,...,...,...,...,...,...,...
2750,2026-01-14,712.0,720.0,710.1,720.0,0.91,3660.0,2607419.8
2751,2026-01-18,728.0,736.3,720.0,736.3,2.26,5820.0,4240191.3
2752,2026-01-20,742.5,783.9,742.5,783.0,6.34,12659.0,9665176.0
2753,2026-01-21,780.0,780.0,767.4,773.0,-1.28,4463.0,3433009.1
2754,2026-01-22,760.2,762.0,746.1,758.0,-1.94,4363.0,3295234.5

In [3]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [5]:

#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year >= 2022].copy()

In [6]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
1815,2022-01-02,373.0,373.0,362.6,370.0,1.09,683.0,249972.2,2022
1816,2022-01-03,370.0,370.0,363.0,368.9,-0.30,1273.0,464945.9,2022
1817,2022-01-04,363.1,375.0,363.0,375.0,1.65,5088.0,1889832.4,2022
1818,2022-01-05,369.0,370.0,361.0,368.0,-1.87,6620.0,2402363.0,2022
1819,2022-01-06,363.0,375.0,360.8,370.0,0.54,8992.0,3273371.8,2022
...,...,...,...,...,...,...,...,...,...
2750,2026-01-14,712.0,720.0,710.1,720.0,0.91,3660.0,2607419.8,2026
2751,2026-01-18,728.0,736.3,720.0,736.3,2.26,5820.0,4240191.3,2026
2752,2026-01-20,742.5,783.9,742.5,783.0,6.34,12659.0,9665176.0,2026
2753,2026-01-21,780.0,780.0,767.4,773.0,-1.28,4463.0,3433009.1,2026
2754,2026-01-22,760.2,762.0,746.1,758.0,-1.94,4363.0,3295234.5,2026

In [7]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,373.0,373.0,362.6,370.0,1.09,683.0,249972.2,2022
1,2022-01-03,370.0,370.0,363.0,368.9,-0.30,1273.0,464945.9,2022
2,2022-01-04,363.1,375.0,363.0,375.0,1.65,5088.0,1889832.4,2022
3,2022-01-05,369.0,370.0,361.0,368.0,-1.87,6620.0,2402363.0,2022
4,2022-01-06,363.0,375.0,360.8,370.0,0.54,8992.0,3273371.8,2022
...,...,...,...,...,...,...,...,...,...
935,2026-01-14,712.0,720.0,710.1,720.0,0.91,3660.0,2607419.8,2026
936,2026-01-18,728.0,736.3,720.0,736.3,2.26,5820.0,4240191.3,2026
937,2026-01-20,742.5,783.9,742.5,783.0,6.34,12659.0,9665176.0,2026
938,2026-01-21,780.0,780.0,767.4,773.0,-1.28,4463.0,3433009.1,2026
939,2026-01-22,760.2,762.0,746.1,758.0,-1.94,4363.0,3295234.5,2026

In [8]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025],
    'eps': [9.84, 21.43, 26.41, 20.35],   # Precise statutory & TTM
    'pe-ratio': [32.40, 28.15, 30.55, 36.19], 
    'roe': [8.14, 15.76, 17.14, 13.09],  # TTM ROE reflects the recent squeeze
    'dividend': [8.42, 11.00, 11.00, 5.00] # Actual historical + 2025 declared
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022   9.84     32.40   8.14      8.42
1  2023  21.43     28.15  15.76     11.00
2  2024  26.41     30.55  17.14     11.00
3  2025  20.35     36.19  13.09      5.00

In [9]:

# #merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,373.0,373.0,362.6,370.0,1.09,683.0,249972.2,2022,9.84,32.4,8.14,8.42
1,2022-01-03,370.0,370.0,363.0,368.9,-0.30,1273.0,464945.9,2022,9.84,32.4,8.14,8.42
2,2022-01-04,363.1,375.0,363.0,375.0,1.65,5088.0,1889832.4,2022,9.84,32.4,8.14,8.42
3,2022-01-05,369.0,370.0,361.0,368.0,-1.87,6620.0,2402363.0,2022,9.84,32.4,8.14,8.42
4,2022-01-06,363.0,375.0,360.8,370.0,0.54,8992.0,3273371.8,2022,9.84,32.4,8.14,8.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,2026-01-14,712.0,720.0,710.1,720.0,0.91,3660.0,2607419.8,2026,NaN,NaN,NaN,NaN
936,2026-01-18,728.0,736.3,720.0,736.3,2.26,5820.0,4240191.3,2026,NaN,NaN,NaN,NaN
937,2026-01-20,742.5,783.9,742.5,783.0,6.34,12659.0,9665176.0,2026,NaN,NaN,NaN,NaN
938,2026-01-21,780.0,780.0,767.4,773.0,-1.28,4463.0,3433009.1,2026,NaN,NaN,NaN,NaN
939,2026-01-22,760.2,762.0,746.1,758.0,-1.94,4363.0,3295234.5,2026,NaN,NaN,NaN,NaN

In [10]:
df = df.copy()
df.to_csv('../data-companywise/TRH.csv', index = False)