In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/raw_data/UNHPL.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2019-07-24,95.0,95.0,94.0,94.0,-5.05,100.0,9450.0,-1
1,2019-07-25,90.0,90.0,85.0,85.0,-9.57,3500.0,298087.0,-1
2,2019-07-28,84.0,84.0,77.0,78.0,-8.24,821.0,63698.0,-1
3,2019-07-29,77.0,78.0,72.0,78.0,0.00,1900.0,142260.0,0
4,2019-07-30,77.0,77.0,73.0,73.0,-6.41,3410.0,252320.0,-1
...,...,...,...,...,...,...,...,...,...
1467,2026-02-09,516.1,516.1,487.3,489.0,-3.36,242267.0,119701683.7,-1
1468,2026-02-10,485.0,530.0,485.0,497.7,1.78,649371.0,326053828.6,1
1469,2026-02-11,498.0,540.0,496.1,509.0,2.27,516821.0,260793379.7,1
1470,2026-02-12,500.0,510.4,500.0,510.0,0.20,348321.0,175521349.2,1
1471,2026-02-16,511.0,518.0,492.2,495.0,-2.94,168500.0,84373705.5,-1

In [3]:
#dropping the status column
df.drop(columns = 'status', inplace = True)
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2019-07-24,95.0,95.0,94.0,94.0,-5.05,100.0,9450.0
1,2019-07-25,90.0,90.0,85.0,85.0,-9.57,3500.0,298087.0
2,2019-07-28,84.0,84.0,77.0,78.0,-8.24,821.0,63698.0
3,2019-07-29,77.0,78.0,72.0,78.0,0.00,1900.0,142260.0
4,2019-07-30,77.0,77.0,73.0,73.0,-6.41,3410.0,252320.0
...,...,...,...,...,...,...,...,...
1467,2026-02-09,516.1,516.1,487.3,489.0,-3.36,242267.0,119701683.7
1468,2026-02-10,485.0,530.0,485.0,497.7,1.78,649371.0,326053828.6
1469,2026-02-11,498.0,540.0,496.1,509.0,2.27,516821.0,260793379.7
1470,2026-02-12,500.0,510.4,500.0,510.0,0.20,348321.0,175521349.2
1471,2026-02-16,511.0,518.0,492.2,495.0,-2.94,168500.0,84373705.5

In [4]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [5]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2019-07-24,95.0,95.0,94.0,94.0,-5.05,100.0,9450.0
1,2019-07-25,90.0,90.0,85.0,85.0,-9.57,3500.0,298087.0
2,2019-07-28,84.0,84.0,77.0,78.0,-8.24,821.0,63698.0
3,2019-07-29,77.0,78.0,72.0,78.0,0.00,1900.0,142260.0
4,2019-07-30,77.0,77.0,73.0,73.0,-6.41,3410.0,252320.0
...,...,...,...,...,...,...,...,...
1467,2026-02-09,516.1,516.1,487.3,489.0,-3.36,242267.0,119701683.7
1468,2026-02-10,485.0,530.0,485.0,497.7,1.78,649371.0,326053828.6
1469,2026-02-11,498.0,540.0,496.1,509.0,2.27,516821.0,260793379.7
1470,2026-02-12,500.0,510.4,500.0,510.0,0.20,348321.0,175521349.2
1471,2026-02-16,511.0,518.0,492.2,495.0,-2.94,168500.0,84373705.5

In [6]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2019-07-24,95.0,95.0,94.0,94.0,-5.05,100.0,9450.0,2019
1,2019-07-25,90.0,90.0,85.0,85.0,-9.57,3500.0,298087.0,2019
2,2019-07-28,84.0,84.0,77.0,78.0,-8.24,821.0,63698.0,2019
3,2019-07-29,77.0,78.0,72.0,78.0,0.00,1900.0,142260.0,2019
4,2019-07-30,77.0,77.0,73.0,73.0,-6.41,3410.0,252320.0,2019
...,...,...,...,...,...,...,...,...,...
1467,2026-02-09,516.1,516.1,487.3,489.0,-3.36,242267.0,119701683.7,2026
1468,2026-02-10,485.0,530.0,485.0,497.7,1.78,649371.0,326053828.6,2026
1469,2026-02-11,498.0,540.0,496.1,509.0,2.27,516821.0,260793379.7,2026
1470,2026-02-12,500.0,510.4,500.0,510.0,0.20,348321.0,175521349.2,2026
1471,2026-02-16,511.0,518.0,492.2,495.0,-2.94,168500.0,84373705.5,2026

In [8]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'].dt.year.between(2022, 2025)].copy()

In [9]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
515,2022-01-02,308.0,314.1,304.0,310.0,0.65,9594.0,2952981.0,2022
516,2022-01-03,310.0,325.0,308.0,312.9,0.94,11179.0,3487795.2,2022
517,2022-01-04,310.0,323.0,310.0,319.0,1.95,15072.0,4786613.3,2022
518,2022-01-05,319.0,333.9,315.0,315.0,-1.25,15423.0,5003823.5,2022
519,2022-01-06,316.0,321.3,312.0,318.5,1.11,14753.0,4701766.5,2022
...,...,...,...,...,...,...,...,...,...
1438,2025-12-23,499.8,499.8,485.0,489.0,-0.20,61899.0,30191948.2,2025
1439,2025-12-24,496.8,496.8,481.1,481.5,-1.53,61734.0,29823766.2,2025
1440,2025-12-28,471.9,515.0,471.9,490.0,1.77,554921.0,276035193.1,2025
1441,2025-12-29,499.8,499.8,483.0,483.9,-1.24,65519.0,31938663.3,2025
1442,2025-12-31,493.5,493.5,478.1,481.9,-0.41,215733.0,103833764.7,2025

In [10]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,308.0,314.1,304.0,310.0,0.65,9594.0,2952981.0,2022
1,2022-01-03,310.0,325.0,308.0,312.9,0.94,11179.0,3487795.2,2022
2,2022-01-04,310.0,323.0,310.0,319.0,1.95,15072.0,4786613.3,2022
3,2022-01-05,319.0,333.9,315.0,315.0,-1.25,15423.0,5003823.5,2022
4,2022-01-06,316.0,321.3,312.0,318.5,1.11,14753.0,4701766.5,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,499.8,499.8,485.0,489.0,-0.20,61899.0,30191948.2,2025
924,2025-12-24,496.8,496.8,481.1,481.5,-1.53,61734.0,29823766.2,2025
925,2025-12-28,471.9,515.0,471.9,490.0,1.77,554921.0,276035193.1,2025
926,2025-12-29,499.8,499.8,483.0,483.9,-1.24,65519.0,31938663.3,2025
927,2025-12-31,493.5,493.5,478.1,481.9,-0.41,215733.0,103833764.7,2025

In [11]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025],
    'eps': [0.45, 0.82, 1.15, 2.66],
    'pe-ratio': [450.20, 280.40, 210.50, 191.74],
    'roe': [0.42, 0.78, 1.12, 2.63],
    'dividend': [0.00, 0.00, 0.00, 0.00]}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year   eps  pe-ratio   roe  dividend
0  2022  0.45    450.20  0.42       0.0
1  2023  0.82    280.40  0.78       0.0
2  2024  1.15    210.50  1.12       0.0
3  2025  2.66    191.74  2.63       0.0

In [12]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,308.0,314.1,304.0,310.0,0.65,9594.0,2952981.0,2022,0.45,450.20,0.42,0.0
1,2022-01-03,310.0,325.0,308.0,312.9,0.94,11179.0,3487795.2,2022,0.45,450.20,0.42,0.0
2,2022-01-04,310.0,323.0,310.0,319.0,1.95,15072.0,4786613.3,2022,0.45,450.20,0.42,0.0
3,2022-01-05,319.0,333.9,315.0,315.0,-1.25,15423.0,5003823.5,2022,0.45,450.20,0.42,0.0
4,2022-01-06,316.0,321.3,312.0,318.5,1.11,14753.0,4701766.5,2022,0.45,450.20,0.42,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,499.8,499.8,485.0,489.0,-0.20,61899.0,30191948.2,2025,2.66,191.74,2.63,0.0
924,2025-12-24,496.8,496.8,481.1,481.5,-1.53,61734.0,29823766.2,2025,2.66,191.74,2.63,0.0
925,2025-12-28,471.9,515.0,471.9,490.0,1.77,554921.0,276035193.1,2025,2.66,191.74,2.63,0.0
926,2025-12-29,499.8,499.8,483.0,483.9,-1.24,65519.0,31938663.3,2025,2.66,191.74,2.63,0.0
927,2025-12-31,493.5,493.5,478.1,481.9,-0.41,215733.0,103833764.7,2025,2.66,191.74,2.63,0.0

In [13]:
df = df.copy()
df.to_csv('../data-companywise/processed_data/UNHPL.csv', index = False)