In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/GBIME.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2012-09-26,248.0,249.0,244.0,247.0,NaN,7227.0,1771727.0
1,2012-09-30,245.0,247.0,238.0,244.0,-1.21,7236.0,1747500.0
2,2012-10-01,244.0,245.0,240.0,243.0,-0.41,5064.0,1229940.0
3,2012-10-01,244.0,245.0,240.0,243.0,0.00,5064.0,1229940.0
4,2012-10-02,243.0,248.0,242.0,248.0,2.06,2854.0,703587.0
...,...,...,...,...,...,...,...,...
2607,2026-01-14,226.1,228.0,225.0,226.0,-0.40,81854.0,18501568.9
2608,2026-01-18,225.0,228.5,225.0,228.2,0.97,111936.0,25460818.6
2609,2026-01-20,232.7,234.1,228.0,230.0,0.79,389051.0,89620290.2
2610,2026-01-21,228.0,234.9,227.0,228.9,-0.48,207746.0,47512746.5
2611,2026-01-22,228.5,229.7,227.1,228.0,-0.39,69966.0,15952999.6

In [3]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2012-09-26,248.0,249.0,244.0,247.0,NaN,7227.0,1771727.0
1,2012-09-30,245.0,247.0,238.0,244.0,-1.21,7236.0,1747500.0
2,2012-10-01,244.0,245.0,240.0,243.0,-0.41,5064.0,1229940.0
3,2012-10-01,244.0,245.0,240.0,243.0,0.00,5064.0,1229940.0
4,2012-10-02,243.0,248.0,242.0,248.0,2.06,2854.0,703587.0
...,...,...,...,...,...,...,...,...
2607,2026-01-14,226.1,228.0,225.0,226.0,-0.40,81854.0,18501568.9
2608,2026-01-18,225.0,228.5,225.0,228.2,0.97,111936.0,25460818.6
2609,2026-01-20,232.7,234.1,228.0,230.0,0.79,389051.0,89620290.2
2610,2026-01-21,228.0,234.9,227.0,228.9,-0.48,207746.0,47512746.5
2611,2026-01-22,228.5,229.7,227.1,228.0,-0.39,69966.0,15952999.6

In [5]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [6]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2012-09-26,248.0,249.0,244.0,247.0,NaN,7227.0,1771727.0,2012
1,2012-09-30,245.0,247.0,238.0,244.0,-1.21,7236.0,1747500.0,2012
2,2012-10-01,244.0,245.0,240.0,243.0,-0.41,5064.0,1229940.0,2012
3,2012-10-01,244.0,245.0,240.0,243.0,0.00,5064.0,1229940.0,2012
4,2012-10-02,243.0,248.0,242.0,248.0,2.06,2854.0,703587.0,2012
...,...,...,...,...,...,...,...,...,...
2607,2026-01-14,226.1,228.0,225.0,226.0,-0.40,81854.0,18501568.9,2026
2608,2026-01-18,225.0,228.5,225.0,228.2,0.97,111936.0,25460818.6,2026
2609,2026-01-20,232.7,234.1,228.0,230.0,0.79,389051.0,89620290.2,2026
2610,2026-01-21,228.0,234.9,227.0,228.9,-0.48,207746.0,47512746.5,2026
2611,2026-01-22,228.5,229.7,227.1,228.0,-0.39,69966.0,15952999.6,2026

In [7]:

#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year >= 2022].copy()

In [8]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
1815,2022-01-02,304.8,304.8,298.0,300.0,0.37,51165.0,15330971.4,2022
1816,2022-01-03,306.0,306.0,300.0,300.2,0.07,81164.0,24460931.9,2022
1817,2022-01-04,302.0,326.0,300.0,326.0,8.59,193324.0,59970602.7,2022
1818,2022-01-05,326.0,331.0,317.0,320.1,-1.81,145665.0,47039324.3,2022
1819,2022-01-06,320.0,332.0,315.0,330.0,3.09,95091.0,30792775.6,2022
...,...,...,...,...,...,...,...,...,...
2607,2026-01-14,226.1,228.0,225.0,226.0,-0.40,81854.0,18501568.9,2026
2608,2026-01-18,225.0,228.5,225.0,228.2,0.97,111936.0,25460818.6,2026
2609,2026-01-20,232.7,234.1,228.0,230.0,0.79,389051.0,89620290.2,2026
2610,2026-01-21,228.0,234.9,227.0,228.9,-0.48,207746.0,47512746.5,2026
2611,2026-01-22,228.5,229.7,227.1,228.0,-0.39,69966.0,15952999.6,2026

In [9]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,304.8,304.8,298.0,300.0,0.37,51165.0,15330971.4,2022
1,2022-01-03,306.0,306.0,300.0,300.2,0.07,81164.0,24460931.9,2022
2,2022-01-04,302.0,326.0,300.0,326.0,8.59,193324.0,59970602.7,2022
3,2022-01-05,326.0,331.0,317.0,320.1,-1.81,145665.0,47039324.3,2022
4,2022-01-06,320.0,332.0,315.0,330.0,3.09,95091.0,30792775.6,2022
...,...,...,...,...,...,...,...,...,...
792,2026-01-14,226.1,228.0,225.0,226.0,-0.40,81854.0,18501568.9,2026
793,2026-01-18,225.0,228.5,225.0,228.2,0.97,111936.0,25460818.6,2026
794,2026-01-20,232.7,234.1,228.0,230.0,0.79,389051.0,89620290.2,2026
795,2026-01-21,228.0,234.9,227.0,228.9,-0.48,207746.0,47512746.5,2026
796,2026-01-22,228.5,229.7,227.1,228.0,-0.39,69966.0,15952999.6,2026

In [10]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # Corresponding to FY 78/79, 79/80, 80/81, 81/82
    'eps': [21.72, 16.04, 18.25, 21.10],
    'pe-ratio': [12.01, 11.21, 14.54, 15.95],
    'roe': [13.57, 11.41, 10.20, 9.62],
    'dividend': [13.60, 9.00, 5.50, 8.00]
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  21.72     12.01  13.57      13.6
1  2023  16.04     11.21  11.41       9.0
2  2024  18.25     14.54  10.20       5.5
3  2025  21.10     15.95   9.62       8.0

In [11]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,304.8,304.8,298.0,300.0,0.37,51165.0,15330971.4,2022,21.72,12.01,13.57,13.6
1,2022-01-03,306.0,306.0,300.0,300.2,0.07,81164.0,24460931.9,2022,21.72,12.01,13.57,13.6
2,2022-01-04,302.0,326.0,300.0,326.0,8.59,193324.0,59970602.7,2022,21.72,12.01,13.57,13.6
3,2022-01-05,326.0,331.0,317.0,320.1,-1.81,145665.0,47039324.3,2022,21.72,12.01,13.57,13.6
4,2022-01-06,320.0,332.0,315.0,330.0,3.09,95091.0,30792775.6,2022,21.72,12.01,13.57,13.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,2026-01-14,226.1,228.0,225.0,226.0,-0.40,81854.0,18501568.9,2026,NaN,NaN,NaN,NaN
793,2026-01-18,225.0,228.5,225.0,228.2,0.97,111936.0,25460818.6,2026,NaN,NaN,NaN,NaN
794,2026-01-20,232.7,234.1,228.0,230.0,0.79,389051.0,89620290.2,2026,NaN,NaN,NaN,NaN
795,2026-01-21,228.0,234.9,227.0,228.9,-0.48,207746.0,47512746.5,2026,NaN,NaN,NaN,NaN
796,2026-01-22,228.5,229.7,227.1,228.0,-0.39,69966.0,15952999.6,2026,NaN,NaN,NaN,NaN

In [12]:
df = df.copy()
df.to_csv('../data-companywise/GBIME.csv', index = False)