In [87]:
#importing the pandas library
import pandas as pd

In [88]:
#reading the file
df = pd.read_csv('../data-companywise/NABIL.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2011-05-15,1091.0,1155.0,1112.0,1155.0,NaN,38.0,43057.0,0
1,2011-05-16,1155.0,1193.0,1160.0,1193.0,3.29,156.0,183026.0,0
2,2011-05-18,1193.0,1172.0,1150.0,1172.0,-1.76,939.0,1087972.0,0
3,2011-05-19,1172.0,1194.0,1155.0,1194.0,1.88,490.0,573992.0,0
4,2011-05-22,1194.0,1193.0,1178.0,1178.0,-1.34,115.0,135930.0,0
...,...,...,...,...,...,...,...,...,...
3356,2026-01-25,496.9,499.0,492.0,497.2,0.83,104063.0,51522824.2,1
3357,2026-01-26,501.0,504.0,496.0,497.0,-0.04,109372.0,54595184.2,-1
3358,2026-01-27,497.0,500.0,492.1,494.9,-0.42,72291.0,35899477.5,-1
3359,2026-01-28,492.1,495.0,490.1,492.0,-0.59,48841.0,24022794.9,-1
3360,2026-01-29,500.0,508.0,493.0,497.0,1.02,132087.0,65706865.4,-1

In [91]:
#removing the status column
df.drop(columns ='status',inplace= True)
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2011-05-15,1091.0,1155.0,1112.0,1155.0,NaN,38.0,43057.0
1,2011-05-16,1155.0,1193.0,1160.0,1193.0,3.29,156.0,183026.0
2,2011-05-18,1193.0,1172.0,1150.0,1172.0,-1.76,939.0,1087972.0
3,2011-05-19,1172.0,1194.0,1155.0,1194.0,1.88,490.0,573992.0
4,2011-05-22,1194.0,1193.0,1178.0,1178.0,-1.34,115.0,135930.0
...,...,...,...,...,...,...,...,...
3356,2026-01-25,496.9,499.0,492.0,497.2,0.83,104063.0,51522824.2
3357,2026-01-26,501.0,504.0,496.0,497.0,-0.04,109372.0,54595184.2
3358,2026-01-27,497.0,500.0,492.1,494.9,-0.42,72291.0,35899477.5
3359,2026-01-28,492.1,495.0,490.1,492.0,-0.59,48841.0,24022794.9
3360,2026-01-29,500.0,508.0,493.0,497.0,1.02,132087.0,65706865.4

In [92]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [93]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2011-05-15,1091.0,1155.0,1112.0,1155.0,NaN,38.0,43057.0
1,2011-05-16,1155.0,1193.0,1160.0,1193.0,3.29,156.0,183026.0
2,2011-05-18,1193.0,1172.0,1150.0,1172.0,-1.76,939.0,1087972.0
3,2011-05-19,1172.0,1194.0,1155.0,1194.0,1.88,490.0,573992.0
4,2011-05-22,1194.0,1193.0,1178.0,1178.0,-1.34,115.0,135930.0
...,...,...,...,...,...,...,...,...
3356,2026-01-25,496.9,499.0,492.0,497.2,0.83,104063.0,51522824.2
3357,2026-01-26,501.0,504.0,496.0,497.0,-0.04,109372.0,54595184.2
3358,2026-01-27,497.0,500.0,492.1,494.9,-0.42,72291.0,35899477.5
3359,2026-01-28,492.1,495.0,490.1,492.0,-0.59,48841.0,24022794.9
3360,2026-01-29,500.0,508.0,493.0,497.0,1.02,132087.0,65706865.4

In [94]:
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [95]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2011-05-15,1091.0,1155.0,1112.0,1155.0,NaN,38.0,43057.0,2011
1,2011-05-16,1155.0,1193.0,1160.0,1193.0,3.29,156.0,183026.0,2011
2,2011-05-18,1193.0,1172.0,1150.0,1172.0,-1.76,939.0,1087972.0,2011
3,2011-05-19,1172.0,1194.0,1155.0,1194.0,1.88,490.0,573992.0,2011
4,2011-05-22,1194.0,1193.0,1178.0,1178.0,-1.34,115.0,135930.0,2011
...,...,...,...,...,...,...,...,...,...
3356,2026-01-25,496.9,499.0,492.0,497.2,0.83,104063.0,51522824.2,2026
3357,2026-01-26,501.0,504.0,496.0,497.0,-0.04,109372.0,54595184.2,2026
3358,2026-01-27,497.0,500.0,492.1,494.9,-0.42,72291.0,35899477.5,2026
3359,2026-01-28,492.1,495.0,490.1,492.0,-0.59,48841.0,24022794.9,2026
3360,2026-01-29,500.0,508.0,493.0,497.0,1.02,132087.0,65706865.4,2026

In [96]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year >= 2022].copy()

In [97]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
2415,2022-01-02,1107.0,1151.5,1086.0,1144.0,5.41,263845.0,297049298.9,2022
2416,2022-01-03,1150.0,1160.0,1137.0,1137.0,-0.61,130041.0,149363282.6,2022
2417,2022-01-04,1137.0,1139.0,1117.2,1119.0,-1.58,116739.0,130969035.9,2022
2418,2022-01-05,1122.0,1138.0,1110.0,1111.9,-0.63,75462.0,84317711.8,2022
2419,2022-01-06,1111.0,1123.0,1099.6,1114.0,0.19,67780.0,75380074.6,2022
...,...,...,...,...,...,...,...,...,...
3356,2026-01-25,496.9,499.0,492.0,497.2,0.83,104063.0,51522824.2,2026
3357,2026-01-26,501.0,504.0,496.0,497.0,-0.04,109372.0,54595184.2,2026
3358,2026-01-27,497.0,500.0,492.1,494.9,-0.42,72291.0,35899477.5,2026
3359,2026-01-28,492.1,495.0,490.1,492.0,-0.59,48841.0,24022794.9,2026
3360,2026-01-29,500.0,508.0,493.0,497.0,1.02,132087.0,65706865.4,2026

In [98]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,1107.0,1151.5,1086.0,1144.0,5.41,263845.0,297049298.9,2022
1,2022-01-03,1150.0,1160.0,1137.0,1137.0,-0.61,130041.0,149363282.6,2022
2,2022-01-04,1137.0,1139.0,1117.2,1119.0,-1.58,116739.0,130969035.9,2022
3,2022-01-05,1122.0,1138.0,1110.0,1111.9,-0.63,75462.0,84317711.8,2022
4,2022-01-06,1111.0,1123.0,1099.6,1114.0,0.19,67780.0,75380074.6,2022
...,...,...,...,...,...,...,...,...,...
941,2026-01-25,496.9,499.0,492.0,497.2,0.83,104063.0,51522824.2,2026
942,2026-01-26,501.0,504.0,496.0,497.0,-0.04,109372.0,54595184.2,2026
943,2026-01-27,497.0,500.0,492.1,494.9,-0.42,72291.0,35899477.5,2026
944,2026-01-28,492.1,495.0,490.1,492.0,-0.59,48841.0,24022794.9,2026
945,2026-01-29,500.0,508.0,493.0,497.0,1.02,132087.0,65706865.4,2026

In [99]:
#adding some fundamental signals
fundamental_data = {
    'year': [2022, 2023, 2024, 2025],
    'eps': [37.42, 30.25, 25.84, 25.97],  # NPR (Annualized from 2082/83 Q1)
    'pe-ratio': [21.50, 19.80, 19.13, 19.13], 
    'roe': [14.80, 11.60, 10.50, 11.20],  # Precise statutory ROE
    'dividend': [30.00, 11.00, 10.00, 12.50] # 12.5% Approved at 40th AGM
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio   roe  dividend
0  2022  37.42     21.50  14.8      30.0
1  2023  30.25     19.80  11.6      11.0
2  2024  25.84     19.13  10.5      10.0
3  2025  25.97     19.13  11.2      12.5

In [100]:
# #merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,1107.0,1151.5,1086.0,1144.0,5.41,263845.0,297049298.9,2022,37.42,21.5,14.8,30.0
1,2022-01-03,1150.0,1160.0,1137.0,1137.0,-0.61,130041.0,149363282.6,2022,37.42,21.5,14.8,30.0
2,2022-01-04,1137.0,1139.0,1117.2,1119.0,-1.58,116739.0,130969035.9,2022,37.42,21.5,14.8,30.0
3,2022-01-05,1122.0,1138.0,1110.0,1111.9,-0.63,75462.0,84317711.8,2022,37.42,21.5,14.8,30.0
4,2022-01-06,1111.0,1123.0,1099.6,1114.0,0.19,67780.0,75380074.6,2022,37.42,21.5,14.8,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
941,2026-01-25,496.9,499.0,492.0,497.2,0.83,104063.0,51522824.2,2026,NaN,NaN,NaN,NaN
942,2026-01-26,501.0,504.0,496.0,497.0,-0.04,109372.0,54595184.2,2026,NaN,NaN,NaN,NaN
943,2026-01-27,497.0,500.0,492.1,494.9,-0.42,72291.0,35899477.5,2026,NaN,NaN,NaN,NaN
944,2026-01-28,492.1,495.0,490.1,492.0,-0.59,48841.0,24022794.9,2026,NaN,NaN,NaN,NaN
945,2026-01-29,500.0,508.0,493.0,497.0,1.02,132087.0,65706865.4,2026,NaN,NaN,NaN,NaN

In [101]:

df = df.copy()
df.to_csv('../data-companywise/NABIL.csv', index = False)