In [1]:
#importing the pandas library
import pandas as pd

In [3]:
#reading the file
df = pd.read_csv('../data-companywise/SANIMA.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2012-04-12,146.0,160.0,148.0,160.0,NaN,12740.0,1943915.0,0
1,2012-04-15,160.0,176.0,163.0,176.0,10.00,6574.0,1152504.0,0
2,2012-04-16,176.0,191.0,179.0,191.0,8.52,8164.0,1548134.0,0
3,2012-04-17,191.0,210.0,181.0,181.0,-5.24,9132.0,1785804.0,0
4,2012-04-18,181.0,195.0,165.0,190.0,4.97,19469.0,3558240.0,0
...,...,...,...,...,...,...,...,...,...
3157,2026-01-26,344.0,350.5,342.0,346.0,0.61,123594.0,42913847.8,1
3158,2026-01-27,346.0,346.5,338.0,338.0,-2.31,130093.0,44310205.9,-1
3159,2026-01-28,338.0,341.7,336.5,339.0,0.30,55251.0,18708754.6,1
3160,2026-01-29,341.5,345.0,333.0,333.2,-1.71,162087.0,54374743.4,-1
3161,2026-02-01,336.9,336.9,330.2,331.2,-0.60,67765.0,22517759.9,-1

In [4]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [5]:
df.drop(columns = 'status', inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2012-04-12,146.0,160.0,148.0,160.0,NaN,12740.0,1943915.0
1,2012-04-15,160.0,176.0,163.0,176.0,10.00,6574.0,1152504.0
2,2012-04-16,176.0,191.0,179.0,191.0,8.52,8164.0,1548134.0
3,2012-04-17,191.0,210.0,181.0,181.0,-5.24,9132.0,1785804.0
4,2012-04-18,181.0,195.0,165.0,190.0,4.97,19469.0,3558240.0
...,...,...,...,...,...,...,...,...
3157,2026-01-26,344.0,350.5,342.0,346.0,0.61,123594.0,42913847.8
3158,2026-01-27,346.0,346.5,338.0,338.0,-2.31,130093.0,44310205.9
3159,2026-01-28,338.0,341.7,336.5,339.0,0.30,55251.0,18708754.6
3160,2026-01-29,341.5,345.0,333.0,333.2,-1.71,162087.0,54374743.4
3161,2026-02-01,336.9,336.9,330.2,331.2,-0.60,67765.0,22517759.9

In [6]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [7]:
#filtering the data from 2022 to 2025
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'].dt.year.between(2022, 2025)].copy()

In [8]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
2215,2022-01-02,354.0,365.0,354.0,363.0,2.54,53951.0,19459574.5,2022
2216,2022-01-03,367.9,377.0,366.0,372.0,2.48,55415.0,20542391.9,2022
2217,2022-01-04,368.0,384.0,365.0,381.9,2.66,62937.0,23707800.2,2022
2218,2022-01-05,384.0,392.5,373.0,376.0,-1.54,80827.0,30871358.4,2022
2219,2022-01-06,377.0,381.9,375.0,378.0,0.53,61095.0,23092370.8,2022
...,...,...,...,...,...,...,...,...,...
3138,2025-12-23,311.8,312.0,306.0,312.0,0.97,115733.0,35708960.7,2025
3139,2025-12-24,313.9,319.0,309.0,319.0,2.24,81332.0,25564530.6,2025
3140,2025-12-28,320.0,325.3,320.0,323.8,1.50,74540.0,24094321.6,2025
3141,2025-12-29,330.2,330.2,319.9,319.9,-1.20,64180.0,20774625.9,2025
3142,2025-12-31,320.0,324.9,318.5,322.0,0.66,52786.0,17011494.7,2025

In [9]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,354.0,365.0,354.0,363.0,2.54,53951.0,19459574.5,2022
1,2022-01-03,367.9,377.0,366.0,372.0,2.48,55415.0,20542391.9,2022
2,2022-01-04,368.0,384.0,365.0,381.9,2.66,62937.0,23707800.2,2022
3,2022-01-05,384.0,392.5,373.0,376.0,-1.54,80827.0,30871358.4,2022
4,2022-01-06,377.0,381.9,375.0,378.0,0.53,61095.0,23092370.8,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,311.8,312.0,306.0,312.0,0.97,115733.0,35708960.7,2025
924,2025-12-24,313.9,319.0,309.0,319.0,2.24,81332.0,25564530.6,2025
925,2025-12-28,320.0,325.3,320.0,323.8,1.50,74540.0,24094321.6,2025
926,2025-12-29,330.2,330.2,319.9,319.9,-1.20,64180.0,20774625.9,2025
927,2025-12-31,320.0,324.9,318.5,322.0,0.66,52786.0,17011494.7,2025

In [10]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # Corresponding to FY 78/79, 79/80, 80/81, 81/82
    'eps': [18.47, 21.02, 13.40, 20.48],
    'pe-ratio': [14.10, 12.39, 24.80, 16.27],
    'roe': [11.85, 13.50, 8.40, 12.24],
    'dividend': [10.98, 14.70, 5.26, 7.37]}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  18.47     14.10  11.85     10.98
1  2023  21.02     12.39  13.50     14.70
2  2024  13.40     24.80   8.40      5.26
3  2025  20.48     16.27  12.24      7.37

In [11]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,354.0,365.0,354.0,363.0,2.54,53951.0,19459574.5,2022,18.47,14.10,11.85,10.98
1,2022-01-03,367.9,377.0,366.0,372.0,2.48,55415.0,20542391.9,2022,18.47,14.10,11.85,10.98
2,2022-01-04,368.0,384.0,365.0,381.9,2.66,62937.0,23707800.2,2022,18.47,14.10,11.85,10.98
3,2022-01-05,384.0,392.5,373.0,376.0,-1.54,80827.0,30871358.4,2022,18.47,14.10,11.85,10.98
4,2022-01-06,377.0,381.9,375.0,378.0,0.53,61095.0,23092370.8,2022,18.47,14.10,11.85,10.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,311.8,312.0,306.0,312.0,0.97,115733.0,35708960.7,2025,20.48,16.27,12.24,7.37
924,2025-12-24,313.9,319.0,309.0,319.0,2.24,81332.0,25564530.6,2025,20.48,16.27,12.24,7.37
925,2025-12-28,320.0,325.3,320.0,323.8,1.50,74540.0,24094321.6,2025,20.48,16.27,12.24,7.37
926,2025-12-29,330.2,330.2,319.9,319.9,-1.20,64180.0,20774625.9,2025,20.48,16.27,12.24,7.37
927,2025-12-31,320.0,324.9,318.5,322.0,0.66,52786.0,17011494.7,2025,20.48,16.27,12.24,7.37

In [12]:
df = df.copy()
df.to_csv('../data-companywise/SANIMA.csv', index = False)