In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/raw_data/AHPC.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2009-11-25,408.0,790.0,790.0,790.0,NaN,10.0,0.0,0
1,2009-12-03,790.0,770.0,740.0,740.0,-6.33,50.0,0.0,0
2,2009-12-06,740.0,726.0,687.0,687.0,-7.16,50.0,0.0,0
3,2009-12-07,687.0,674.0,661.0,661.0,-3.78,20.0,0.0,0
4,2009-12-08,661.0,701.0,648.0,700.0,5.90,3230.0,0.0,0
...,...,...,...,...,...,...,...,...,...
3617,2026-02-09,279.9,284.0,271.1,280.0,1.67,284914.0,79310038.6,1
3618,2026-02-10,281.0,303.9,280.0,294.5,5.18,1530888.0,452842492.8,1
3619,2026-02-11,300.0,300.0,288.2,298.0,1.19,609216.0,180285772.5,-1
3620,2026-02-12,292.1,301.0,291.0,293.9,-1.38,478502.0,141833573.4,1
3621,2026-02-16,293.9,296.0,280.0,280.1,-4.70,465743.0,132643195.6,-1

In [3]:
#dropping the status column
df.drop(columns = 'status', inplace = True)
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2009-11-25,408.0,790.0,790.0,790.0,NaN,10.0,0.0
1,2009-12-03,790.0,770.0,740.0,740.0,-6.33,50.0,0.0
2,2009-12-06,740.0,726.0,687.0,687.0,-7.16,50.0,0.0
3,2009-12-07,687.0,674.0,661.0,661.0,-3.78,20.0,0.0
4,2009-12-08,661.0,701.0,648.0,700.0,5.90,3230.0,0.0
...,...,...,...,...,...,...,...,...
3617,2026-02-09,279.9,284.0,271.1,280.0,1.67,284914.0,79310038.6
3618,2026-02-10,281.0,303.9,280.0,294.5,5.18,1530888.0,452842492.8
3619,2026-02-11,300.0,300.0,288.2,298.0,1.19,609216.0,180285772.5
3620,2026-02-12,292.1,301.0,291.0,293.9,-1.38,478502.0,141833573.4
3621,2026-02-16,293.9,296.0,280.0,280.1,-4.70,465743.0,132643195.6

In [4]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [5]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2009-11-25,408.0,790.0,790.0,790.0,NaN,10.0,0.0
1,2009-12-03,790.0,770.0,740.0,740.0,-6.33,50.0,0.0
2,2009-12-06,740.0,726.0,687.0,687.0,-7.16,50.0,0.0
3,2009-12-07,687.0,674.0,661.0,661.0,-3.78,20.0,0.0
4,2009-12-08,661.0,701.0,648.0,700.0,5.90,3230.0,0.0
...,...,...,...,...,...,...,...,...
3617,2026-02-09,279.9,284.0,271.1,280.0,1.67,284914.0,79310038.6
3618,2026-02-10,281.0,303.9,280.0,294.5,5.18,1530888.0,452842492.8
3619,2026-02-11,300.0,300.0,288.2,298.0,1.19,609216.0,180285772.5
3620,2026-02-12,292.1,301.0,291.0,293.9,-1.38,478502.0,141833573.4
3621,2026-02-16,293.9,296.0,280.0,280.1,-4.70,465743.0,132643195.6

In [6]:

#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2009-11-25,408.0,790.0,790.0,790.0,NaN,10.0,0.0,2009
1,2009-12-03,790.0,770.0,740.0,740.0,-6.33,50.0,0.0,2009
2,2009-12-06,740.0,726.0,687.0,687.0,-7.16,50.0,0.0,2009
3,2009-12-07,687.0,674.0,661.0,661.0,-3.78,20.0,0.0,2009
4,2009-12-08,661.0,701.0,648.0,700.0,5.90,3230.0,0.0,2009
...,...,...,...,...,...,...,...,...,...
3617,2026-02-09,279.9,284.0,271.1,280.0,1.67,284914.0,79310038.6,2026
3618,2026-02-10,281.0,303.9,280.0,294.5,5.18,1530888.0,452842492.8,2026
3619,2026-02-11,300.0,300.0,288.2,298.0,1.19,609216.0,180285772.5,2026
3620,2026-02-12,292.1,301.0,291.0,293.9,-1.38,478502.0,141833573.4,2026
3621,2026-02-16,293.9,296.0,280.0,280.1,-4.70,465743.0,132643195.6,2026

In [8]:

#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'].dt.year.between(2022, 2025)].copy()

In [9]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
2665,2022-01-02,434.5,444.0,425.9,442.0,2.84,171026.0,74745539.9,2022
2666,2022-01-03,447.0,448.0,435.0,435.0,-1.58,125498.0,55311521.0,2022
2667,2022-01-04,430.0,448.0,430.0,445.0,2.30,157611.0,69786523.0,2022
2668,2022-01-05,447.0,462.0,439.0,450.0,1.12,245379.0,110719148.5,2022
2669,2022-01-06,451.0,463.0,435.1,458.1,1.80,191377.0,87278017.4,2022
...,...,...,...,...,...,...,...,...,...
3588,2025-12-23,278.0,278.0,271.0,273.4,0.29,80001.0,21789152.3,2025
3589,2025-12-24,272.0,274.0,269.0,272.3,-0.40,96682.0,26289889.8,2025
3590,2025-12-28,277.6,278.8,270.1,278.0,2.09,93951.0,26011799.2,2025
3591,2025-12-29,283.5,283.5,274.1,275.0,-1.08,93875.0,26014615.7,2025
3592,2025-12-31,277.9,279.0,275.0,277.4,0.87,135284.0,37470804.7,2025

In [10]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,434.5,444.0,425.9,442.0,2.84,171026.0,74745539.9,2022
1,2022-01-03,447.0,448.0,435.0,435.0,-1.58,125498.0,55311521.0,2022
2,2022-01-04,430.0,448.0,430.0,445.0,2.30,157611.0,69786523.0,2022
3,2022-01-05,447.0,462.0,439.0,450.0,1.12,245379.0,110719148.5,2022
4,2022-01-06,451.0,463.0,435.1,458.1,1.80,191377.0,87278017.4,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,278.0,278.0,271.0,273.4,0.29,80001.0,21789152.3,2025
924,2025-12-24,272.0,274.0,269.0,272.3,-0.40,96682.0,26289889.8,2025
925,2025-12-28,277.6,278.8,270.1,278.0,2.09,93951.0,26011799.2,2025
926,2025-12-29,283.5,283.5,274.1,275.0,-1.08,93875.0,26014615.7,2025
927,2025-12-31,277.9,279.0,275.0,277.4,0.87,135284.0,37470804.7,2025

In [12]:

fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # FY 78/79, 79/80, 80/81, 81/82
    'eps': [8.35, 1.48, 2.91, 11.65],
    'pe-ratio': [45.10, 155.40, 78.50, 25.20],
    'roe': [7.21, 1.35, 2.65, 10.38],
    'dividend': [8.42, 0.00, 3.16, 5.26]}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022   8.35      45.1   7.21      8.42
1  2023   1.48     155.4   1.35      0.00
2  2024   2.91      78.5   2.65      3.16
3  2025  11.65      25.2  10.38      5.26

In [13]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,434.5,444.0,425.9,442.0,2.84,171026.0,74745539.9,2022,8.35,45.1,7.21,8.42
1,2022-01-03,447.0,448.0,435.0,435.0,-1.58,125498.0,55311521.0,2022,8.35,45.1,7.21,8.42
2,2022-01-04,430.0,448.0,430.0,445.0,2.30,157611.0,69786523.0,2022,8.35,45.1,7.21,8.42
3,2022-01-05,447.0,462.0,439.0,450.0,1.12,245379.0,110719148.5,2022,8.35,45.1,7.21,8.42
4,2022-01-06,451.0,463.0,435.1,458.1,1.80,191377.0,87278017.4,2022,8.35,45.1,7.21,8.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,278.0,278.0,271.0,273.4,0.29,80001.0,21789152.3,2025,11.65,25.2,10.38,5.26
924,2025-12-24,272.0,274.0,269.0,272.3,-0.40,96682.0,26289889.8,2025,11.65,25.2,10.38,5.26
925,2025-12-28,277.6,278.8,270.1,278.0,2.09,93951.0,26011799.2,2025,11.65,25.2,10.38,5.26
926,2025-12-29,283.5,283.5,274.1,275.0,-1.08,93875.0,26014615.7,2025,11.65,25.2,10.38,5.26
927,2025-12-31,277.9,279.0,275.0,277.4,0.87,135284.0,37470804.7,2025,11.65,25.2,10.38,5.26

In [14]:
df = df.copy()
df.to_csv('../data-companywise/processed_data/AHPC.csv', index = False)