In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/raw_data/BARUN.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2015-10-28,388.0,426.0,395.0,419.0,NaN,5200.0,2161590.0,0
1,2015-10-29,419.0,422.0,400.0,412.0,-1.67,4740.0,1908510.0,0
2,2015-11-01,412.0,410.0,391.0,400.0,-2.91,2670.0,1059460.0,0
3,2015-11-02,400.0,397.0,385.0,385.0,-3.75,1800.0,703800.0,0
4,2015-11-03,385.0,378.0,357.0,368.0,-4.42,620.0,226400.0,0
...,...,...,...,...,...,...,...,...,...
2267,2026-02-09,375.0,375.0,358.0,363.9,-1.03,298000.0,107914538.0,-1
2268,2026-02-10,363.9,369.8,356.0,358.0,-1.62,192605.0,69513469.3,-1
2269,2026-02-11,365.1,368.2,358.0,368.0,2.79,138625.0,50314531.2,1
2270,2026-02-12,373.9,377.1,364.0,365.2,-0.76,193036.0,71550490.2,-1
2271,2026-02-16,365.2,372.0,358.0,359.0,-1.70,92498.0,33483631.3,-1

In [3]:
#dropping the status column
df.drop(columns = 'status', inplace = True)
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2015-10-28,388.0,426.0,395.0,419.0,NaN,5200.0,2161590.0
1,2015-10-29,419.0,422.0,400.0,412.0,-1.67,4740.0,1908510.0
2,2015-11-01,412.0,410.0,391.0,400.0,-2.91,2670.0,1059460.0
3,2015-11-02,400.0,397.0,385.0,385.0,-3.75,1800.0,703800.0
4,2015-11-03,385.0,378.0,357.0,368.0,-4.42,620.0,226400.0
...,...,...,...,...,...,...,...,...
2267,2026-02-09,375.0,375.0,358.0,363.9,-1.03,298000.0,107914538.0
2268,2026-02-10,363.9,369.8,356.0,358.0,-1.62,192605.0,69513469.3
2269,2026-02-11,365.1,368.2,358.0,368.0,2.79,138625.0,50314531.2
2270,2026-02-12,373.9,377.1,364.0,365.2,-0.76,193036.0,71550490.2
2271,2026-02-16,365.2,372.0,358.0,359.0,-1.70,92498.0,33483631.3

In [4]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [5]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2015-10-28,388.0,426.0,395.0,419.0,NaN,5200.0,2161590.0
1,2015-10-29,419.0,422.0,400.0,412.0,-1.67,4740.0,1908510.0
2,2015-11-01,412.0,410.0,391.0,400.0,-2.91,2670.0,1059460.0
3,2015-11-02,400.0,397.0,385.0,385.0,-3.75,1800.0,703800.0
4,2015-11-03,385.0,378.0,357.0,368.0,-4.42,620.0,226400.0
...,...,...,...,...,...,...,...,...
2267,2026-02-09,375.0,375.0,358.0,363.9,-1.03,298000.0,107914538.0
2268,2026-02-10,363.9,369.8,356.0,358.0,-1.62,192605.0,69513469.3
2269,2026-02-11,365.1,368.2,358.0,368.0,2.79,138625.0,50314531.2
2270,2026-02-12,373.9,377.1,364.0,365.2,-0.76,193036.0,71550490.2
2271,2026-02-16,365.2,372.0,358.0,359.0,-1.70,92498.0,33483631.3

In [6]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2015-10-28,388.0,426.0,395.0,419.0,NaN,5200.0,2161590.0,2015
1,2015-10-29,419.0,422.0,400.0,412.0,-1.67,4740.0,1908510.0,2015
2,2015-11-01,412.0,410.0,391.0,400.0,-2.91,2670.0,1059460.0,2015
3,2015-11-02,400.0,397.0,385.0,385.0,-3.75,1800.0,703800.0,2015
4,2015-11-03,385.0,378.0,357.0,368.0,-4.42,620.0,226400.0,2015
...,...,...,...,...,...,...,...,...,...
2267,2026-02-09,375.0,375.0,358.0,363.9,-1.03,298000.0,107914538.0,2026
2268,2026-02-10,363.9,369.8,356.0,358.0,-1.62,192605.0,69513469.3,2026
2269,2026-02-11,365.1,368.2,358.0,368.0,2.79,138625.0,50314531.2,2026
2270,2026-02-12,373.9,377.1,364.0,365.2,-0.76,193036.0,71550490.2,2026
2271,2026-02-16,365.2,372.0,358.0,359.0,-1.70,92498.0,33483631.3,2026

In [8]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'].dt.year.between(2022, 2025)].copy()

In [9]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
1315,2022-01-02,461.0,469.0,456.0,458.0,-0.87,15252.0,7020664.5,2022
1316,2022-01-03,451.0,467.0,451.0,462.0,0.87,12098.0,5579628.9,2022
1317,2022-01-04,462.0,470.0,460.0,470.0,1.73,14119.0,6565768.4,2022
1318,2022-01-05,470.0,487.0,462.1,471.0,0.21,17100.0,8076458.5,2022
1319,2022-01-06,474.9,474.9,463.0,469.0,-0.42,9536.0,4481706.0,2022
...,...,...,...,...,...,...,...,...,...
2238,2025-12-23,311.0,316.0,310.2,314.0,0.64,51238.0,16065538.5,2025
2239,2025-12-24,316.0,320.0,313.0,318.0,1.27,76264.0,24101707.6,2025
2240,2025-12-28,318.0,324.0,315.1,321.0,0.94,75737.0,24299925.8,2025
2241,2025-12-29,324.0,324.0,315.0,318.8,-0.69,95850.0,30680374.7,2025
2242,2025-12-31,323.9,323.9,318.0,318.0,-0.25,62539.0,19941315.9,2025

In [10]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,461.0,469.0,456.0,458.0,-0.87,15252.0,7020664.5,2022
1,2022-01-03,451.0,467.0,451.0,462.0,0.87,12098.0,5579628.9,2022
2,2022-01-04,462.0,470.0,460.0,470.0,1.73,14119.0,6565768.4,2022
3,2022-01-05,470.0,487.0,462.1,471.0,0.21,17100.0,8076458.5,2022
4,2022-01-06,474.9,474.9,463.0,469.0,-0.42,9536.0,4481706.0,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,311.0,316.0,310.2,314.0,0.64,51238.0,16065538.5,2025
924,2025-12-24,316.0,320.0,313.0,318.0,1.27,76264.0,24101707.6,2025
925,2025-12-28,318.0,324.0,315.1,321.0,0.94,75737.0,24299925.8,2025
926,2025-12-29,324.0,324.0,315.0,318.8,-0.69,95850.0,30680374.7,2025
927,2025-12-31,323.9,323.9,318.0,318.0,-0.25,62539.0,19941315.9,2025

In [12]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025],
    'eps': [12.18, 1.55, 3.02, 7.25],
    'pe-ratio': [38.50, 185.20, 115.40, 50.30],
    'roe': [11.45, 1.48, 2.95, 6.96],
    'dividend': [0.00, 0.00, 0.00, 5.00]}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  12.18      38.5  11.45       0.0
1  2023   1.55     185.2   1.48       0.0
2  2024   3.02     115.4   2.95       0.0
3  2025   7.25      50.3   6.96       5.0

In [13]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,461.0,469.0,456.0,458.0,-0.87,15252.0,7020664.5,2022,12.18,38.5,11.45,0.0
1,2022-01-03,451.0,467.0,451.0,462.0,0.87,12098.0,5579628.9,2022,12.18,38.5,11.45,0.0
2,2022-01-04,462.0,470.0,460.0,470.0,1.73,14119.0,6565768.4,2022,12.18,38.5,11.45,0.0
3,2022-01-05,470.0,487.0,462.1,471.0,0.21,17100.0,8076458.5,2022,12.18,38.5,11.45,0.0
4,2022-01-06,474.9,474.9,463.0,469.0,-0.42,9536.0,4481706.0,2022,12.18,38.5,11.45,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,311.0,316.0,310.2,314.0,0.64,51238.0,16065538.5,2025,7.25,50.3,6.96,5.0
924,2025-12-24,316.0,320.0,313.0,318.0,1.27,76264.0,24101707.6,2025,7.25,50.3,6.96,5.0
925,2025-12-28,318.0,324.0,315.1,321.0,0.94,75737.0,24299925.8,2025,7.25,50.3,6.96,5.0
926,2025-12-29,324.0,324.0,315.0,318.8,-0.69,95850.0,30680374.7,2025,7.25,50.3,6.96,5.0
927,2025-12-31,323.9,323.9,318.0,318.0,-0.25,62539.0,19941315.9,2025,7.25,50.3,6.96,5.0

In [14]:
df = df.copy()
df.to_csv('../data-companywise/processed_data/BARUN.csv', index = False)