In [1]:
#importing the pandas library
import pandas as pd

In [2]:

#reading the file
df = pd.read_csv('../data-companywise/GBBL.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2011-06-05,132.0,134.0,128.0,128.0,NaN,810.0,105900.0
1,2011-06-06,128.0,130.0,123.0,123.0,-3.91,1990.0,255370.0
2,2011-06-07,123.0,122.0,116.0,116.0,-5.69,1980.0,233910.0
3,2011-06-08,116.0,118.0,112.0,112.0,-3.45,590.0,67160.0
4,2011-06-09,112.0,114.0,112.0,112.0,0.00,60.0,6800.0
...,...,...,...,...,...,...,...,...
3051,2026-01-14,394.3,400.0,390.1,391.0,-0.46,25721.0,10166396.5
3052,2026-01-18,391.0,401.9,391.0,401.5,2.69,72221.0,28738832.7
3053,2026-01-20,404.8,412.0,400.0,407.0,1.37,56392.0,23018101.9
3054,2026-01-21,411.0,411.0,398.9,400.0,-1.72,31303.0,12594541.8
3055,2026-01-22,400.0,403.5,396.0,403.0,0.75,31996.0,12778346.3

In [3]:

# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [5]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2011-06-05,132.0,134.0,128.0,128.0,NaN,810.0,105900.0,2011
1,2011-06-06,128.0,130.0,123.0,123.0,-3.91,1990.0,255370.0,2011
2,2011-06-07,123.0,122.0,116.0,116.0,-5.69,1980.0,233910.0,2011
3,2011-06-08,116.0,118.0,112.0,112.0,-3.45,590.0,67160.0,2011
4,2011-06-09,112.0,114.0,112.0,112.0,0.00,60.0,6800.0,2011
...,...,...,...,...,...,...,...,...,...
3051,2026-01-14,394.3,400.0,390.1,391.0,-0.46,25721.0,10166396.5,2026
3052,2026-01-18,391.0,401.9,391.0,401.5,2.69,72221.0,28738832.7,2026
3053,2026-01-20,404.8,412.0,400.0,407.0,1.37,56392.0,23018101.9,2026
3054,2026-01-21,411.0,411.0,398.9,400.0,-1.72,31303.0,12594541.8,2026
3055,2026-01-22,400.0,403.5,396.0,403.0,0.75,31996.0,12778346.3,2026

In [6]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year >= 2022].copy()

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
2115,2022-01-02,510.0,531.0,504.0,527.0,4.52,70720.0,36655490.0,2022
2116,2022-01-03,527.0,543.0,520.0,536.0,1.71,90732.0,48593552.4,2022
2117,2022-01-04,538.0,566.0,528.0,564.0,5.22,156014.0,85884417.7,2022
2118,2022-01-05,564.0,575.0,550.0,555.0,-1.60,105292.0,58934063.4,2022
2119,2022-01-06,555.0,575.0,550.0,573.3,3.30,164876.0,93359787.3,2022
...,...,...,...,...,...,...,...,...,...
3051,2026-01-14,394.3,400.0,390.1,391.0,-0.46,25721.0,10166396.5,2026
3052,2026-01-18,391.0,401.9,391.0,401.5,2.69,72221.0,28738832.7,2026
3053,2026-01-20,404.8,412.0,400.0,407.0,1.37,56392.0,23018101.9,2026
3054,2026-01-21,411.0,411.0,398.9,400.0,-1.72,31303.0,12594541.8,2026
3055,2026-01-22,400.0,403.5,396.0,403.0,0.75,31996.0,12778346.3,2026

In [8]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,510.0,531.0,504.0,527.0,4.52,70720.0,36655490.0,2022
1,2022-01-03,527.0,543.0,520.0,536.0,1.71,90732.0,48593552.4,2022
2,2022-01-04,538.0,566.0,528.0,564.0,5.22,156014.0,85884417.7,2022
3,2022-01-05,564.0,575.0,550.0,555.0,-1.60,105292.0,58934063.4,2022
4,2022-01-06,555.0,575.0,550.0,573.3,3.30,164876.0,93359787.3,2022
...,...,...,...,...,...,...,...,...,...
936,2026-01-14,394.3,400.0,390.1,391.0,-0.46,25721.0,10166396.5,2026
937,2026-01-18,391.0,401.9,391.0,401.5,2.69,72221.0,28738832.7,2026
938,2026-01-20,404.8,412.0,400.0,407.0,1.37,56392.0,23018101.9,2026
939,2026-01-21,411.0,411.0,398.9,400.0,-1.72,31303.0,12594541.8,2026
940,2026-01-22,400.0,403.5,396.0,403.0,0.75,31996.0,12778346.3,2026

In [9]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # FY 78/79 to 81/82
    'eps': [21.72, 16.04, 18.25, 21.10],  
    'pe-ratio': [17.03, 23.07, 19.45, 18.77],
    'roe': [14.62, 10.80, 11.45, 13.22],  
    'dividend': [14.50, 10.00, 11.00, 10.53]
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  21.72     17.03  14.62     14.50
1  2023  16.04     23.07  10.80     10.00
2  2024  18.25     19.45  11.45     11.00
3  2025  21.10     18.77  13.22     10.53

In [10]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,510.0,531.0,504.0,527.0,4.52,70720.0,36655490.0,2022,21.72,17.03,14.62,14.5
1,2022-01-03,527.0,543.0,520.0,536.0,1.71,90732.0,48593552.4,2022,21.72,17.03,14.62,14.5
2,2022-01-04,538.0,566.0,528.0,564.0,5.22,156014.0,85884417.7,2022,21.72,17.03,14.62,14.5
3,2022-01-05,564.0,575.0,550.0,555.0,-1.60,105292.0,58934063.4,2022,21.72,17.03,14.62,14.5
4,2022-01-06,555.0,575.0,550.0,573.3,3.30,164876.0,93359787.3,2022,21.72,17.03,14.62,14.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,2026-01-14,394.3,400.0,390.1,391.0,-0.46,25721.0,10166396.5,2026,NaN,NaN,NaN,NaN
937,2026-01-18,391.0,401.9,391.0,401.5,2.69,72221.0,28738832.7,2026,NaN,NaN,NaN,NaN
938,2026-01-20,404.8,412.0,400.0,407.0,1.37,56392.0,23018101.9,2026,NaN,NaN,NaN,NaN
939,2026-01-21,411.0,411.0,398.9,400.0,-1.72,31303.0,12594541.8,2026,NaN,NaN,NaN,NaN
940,2026-01-22,400.0,403.5,396.0,403.0,0.75,31996.0,12778346.3,2026,NaN,NaN,NaN,NaN

In [11]:

df = df.copy()
df.to_csv('../data-companywise/GBBL.csv', index = False)