In [1]:

#importing the pandas library
import pandas as pd

In [3]:
#reading the file
df = pd.read_csv('../data-companywise/HBL.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2011-04-18,540.0,535.0,535.0,535.0,NaN,216.0,115560.0
1,2011-04-19,535.0,530.0,506.0,506.0,-5.42,828.0,429489.0
2,2011-04-20,506.0,506.0,487.0,495.0,-2.17,1911.0,946979.0
3,2011-04-21,495.0,500.0,490.0,490.0,-1.01,556.0,274117.0
4,2011-04-25,490.0,499.0,498.0,499.0,1.84,104.0,51846.0
...,...,...,...,...,...,...,...,...
3086,2026-01-14,193.0,193.0,187.5,190.0,0.00,52988.0,9975069.5
3087,2026-01-18,188.0,192.0,188.0,192.0,1.05,78760.0,14996488.7
3088,2026-01-20,193.0,195.0,191.1,194.6,1.35,128298.0,24878183.3
3089,2026-01-21,195.0,197.0,192.0,193.9,-0.36,85335.0,16521004.2
3090,2026-01-22,191.0,194.0,191.0,193.8,-0.05,57526.0,11059987.9

In [4]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [6]:

df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [7]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year >= 2022].copy()

In [8]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
2250,2022-06-06,390.8,390.8,358.9,358.9,-9.99,1710.0,615894.0,2022
2251,2022-06-07,351.8,351.8,323.1,323.1,-9.97,3809.0,1239026.9,2022
2252,2022-06-08,316.7,324.0,290.8,320.0,-0.96,68657.0,20908694.7,2022
2253,2022-06-09,320.0,330.0,313.6,316.0,-1.25,24390.0,7830162.7,2022
2254,2022-06-10,311.1,318.0,311.0,316.5,0.16,10122.0,3182521.5,2022
...,...,...,...,...,...,...,...,...,...
3086,2026-01-14,193.0,193.0,187.5,190.0,0.00,52988.0,9975069.5,2026
3087,2026-01-18,188.0,192.0,188.0,192.0,1.05,78760.0,14996488.7,2026
3088,2026-01-20,193.0,195.0,191.1,194.6,1.35,128298.0,24878183.3,2026
3089,2026-01-21,195.0,197.0,192.0,193.9,-0.36,85335.0,16521004.2,2026
3090,2026-01-22,191.0,194.0,191.0,193.8,-0.05,57526.0,11059987.9,2026

In [9]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-06-06,390.8,390.8,358.9,358.9,-9.99,1710.0,615894.0,2022
1,2022-06-07,351.8,351.8,323.1,323.1,-9.97,3809.0,1239026.9,2022
2,2022-06-08,316.7,324.0,290.8,320.0,-0.96,68657.0,20908694.7,2022
3,2022-06-09,320.0,330.0,313.6,316.0,-1.25,24390.0,7830162.7,2022
4,2022-06-10,311.1,318.0,311.0,316.5,0.16,10122.0,3182521.5,2022
...,...,...,...,...,...,...,...,...,...
836,2026-01-14,193.0,193.0,187.5,190.0,0.00,52988.0,9975069.5,2026
837,2026-01-18,188.0,192.0,188.0,192.0,1.05,78760.0,14996488.7,2026
838,2026-01-20,193.0,195.0,191.1,194.6,1.35,128298.0,24878183.3,2026
839,2026-01-21,195.0,197.0,192.0,193.9,-0.36,85335.0,16521004.2,2026
840,2026-01-22,191.0,194.0,191.0,193.8,-0.05,57526.0,11059987.9,2026

In [10]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # FY 78/79 to 81/82
    'eps': [21.85, 16.34, 10.95, 11.45],  # NPR (Actual Audited & Q2 Annualized)
    'pe-ratio': [14.55, 11.87, 18.15, 16.76], # Precise P/E based on Jan 2026 price (~191)
    'roe': [12.10, 9.40, 6.27, 6.57],     # Return on Equity (%)
    'dividend': [19.11, 0.00, 0.00, 0.00]  # TOTAL % (The "Zero Dividend" period)
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  21.85     14.55  12.10     19.11
1  2023  16.34     11.87   9.40      0.00
2  2024  10.95     18.15   6.27      0.00
3  2025  11.45     16.76   6.57      0.00

In [11]:
# #merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-06-06,390.8,390.8,358.9,358.9,-9.99,1710.0,615894.0,2022,21.85,14.55,12.1,19.11
1,2022-06-07,351.8,351.8,323.1,323.1,-9.97,3809.0,1239026.9,2022,21.85,14.55,12.1,19.11
2,2022-06-08,316.7,324.0,290.8,320.0,-0.96,68657.0,20908694.7,2022,21.85,14.55,12.1,19.11
3,2022-06-09,320.0,330.0,313.6,316.0,-1.25,24390.0,7830162.7,2022,21.85,14.55,12.1,19.11
4,2022-06-10,311.1,318.0,311.0,316.5,0.16,10122.0,3182521.5,2022,21.85,14.55,12.1,19.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,2026-01-14,193.0,193.0,187.5,190.0,0.00,52988.0,9975069.5,2026,NaN,NaN,NaN,NaN
837,2026-01-18,188.0,192.0,188.0,192.0,1.05,78760.0,14996488.7,2026,NaN,NaN,NaN,NaN
838,2026-01-20,193.0,195.0,191.1,194.6,1.35,128298.0,24878183.3,2026,NaN,NaN,NaN,NaN
839,2026-01-21,195.0,197.0,192.0,193.9,-0.36,85335.0,16521004.2,2026,NaN,NaN,NaN,NaN
840,2026-01-22,191.0,194.0,191.0,193.8,-0.05,57526.0,11059987.9,2026,NaN,NaN,NaN,NaN

In [12]:
df = df.copy()
df.to_csv('../data-companywise/HBL.csv', index = False)