In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/NIFRA.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2021-04-25,565.0,570.0,537.0,541.0,-3.74,723657.0,395252640.0
1,2021-04-26,540.0,541.0,520.0,526.0,-2.77,476237.0,252981740.0
2,2021-04-27,520.0,548.0,517.0,547.0,3.99,392155.0,211677436.0
3,2021-04-28,550.0,555.0,532.0,545.0,-0.37,209761.0,114641622.0
4,2021-04-29,545.0,549.0,534.0,542.0,-0.55,210781.0,114279443.0
...,...,...,...,...,...,...,...,...
1101,2026-01-14,255.9,260.5,255.9,260.0,0.78,118274.0,30565032.9
1102,2026-01-18,260.0,264.9,260.0,262.8,1.08,91052.0,23954338.5
1103,2026-01-20,268.0,272.5,265.1,271.0,3.12,233146.0,62819287.2
1104,2026-01-21,273.0,273.0,264.1,266.0,-1.85,163436.0,43585785.6
1105,2026-01-22,265.0,266.9,262.0,266.0,0.00,156183.0,41222660.6

In [3]:

# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
#adding the column year
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [5]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2021-04-25,565.0,570.0,537.0,541.0,-3.74,723657.0,395252640.0,2021
1,2021-04-26,540.0,541.0,520.0,526.0,-2.77,476237.0,252981740.0,2021
2,2021-04-27,520.0,548.0,517.0,547.0,3.99,392155.0,211677436.0,2021
3,2021-04-28,550.0,555.0,532.0,545.0,-0.37,209761.0,114641622.0,2021
4,2021-04-29,545.0,549.0,534.0,542.0,-0.55,210781.0,114279443.0,2021
...,...,...,...,...,...,...,...,...,...
1101,2026-01-14,255.9,260.5,255.9,260.0,0.78,118274.0,30565032.9,2026
1102,2026-01-18,260.0,264.9,260.0,262.8,1.08,91052.0,23954338.5,2026
1103,2026-01-20,268.0,272.5,265.1,271.0,3.12,233146.0,62819287.2,2026
1104,2026-01-21,273.0,273.0,264.1,266.0,-1.85,163436.0,43585785.6,2026
1105,2026-01-22,265.0,266.9,262.0,266.0,0.00,156183.0,41222660.6,2026

In [6]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year >= 2022].copy()

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
165,2022-01-02,291.0,295.0,290.0,292.0,0.34,75101.0,21913380.8,2022
166,2022-01-03,287.0,297.0,287.0,293.9,0.65,58152.0,17116843.8,2022
167,2022-01-04,294.1,322.0,289.1,316.0,7.52,181835.0,54767414.1,2022
168,2022-01-05,316.0,320.0,307.0,307.9,-2.56,113843.0,35610256.5,2022
169,2022-01-06,305.0,311.0,301.8,308.0,0.03,72266.0,22241675.9,2022
...,...,...,...,...,...,...,...,...,...
1101,2026-01-14,255.9,260.5,255.9,260.0,0.78,118274.0,30565032.9,2026
1102,2026-01-18,260.0,264.9,260.0,262.8,1.08,91052.0,23954338.5,2026
1103,2026-01-20,268.0,272.5,265.1,271.0,3.12,233146.0,62819287.2,2026
1104,2026-01-21,273.0,273.0,264.1,266.0,-1.85,163436.0,43585785.6,2026
1105,2026-01-22,265.0,266.9,262.0,266.0,0.00,156183.0,41222660.6,2026

In [8]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,291.0,295.0,290.0,292.0,0.34,75101.0,21913380.8,2022
1,2022-01-03,287.0,297.0,287.0,293.9,0.65,58152.0,17116843.8,2022
2,2022-01-04,294.1,322.0,289.1,316.0,7.52,181835.0,54767414.1,2022
3,2022-01-05,316.0,320.0,307.0,307.9,-2.56,113843.0,35610256.5,2022
4,2022-01-06,305.0,311.0,301.8,308.0,0.03,72266.0,22241675.9,2022
...,...,...,...,...,...,...,...,...,...
936,2026-01-14,255.9,260.5,255.9,260.0,0.78,118274.0,30565032.9,2026
937,2026-01-18,260.0,264.9,260.0,262.8,1.08,91052.0,23954338.5,2026
938,2026-01-20,268.0,272.5,265.1,271.0,3.12,233146.0,62819287.2,2026
939,2026-01-21,273.0,273.0,264.1,266.0,-1.85,163436.0,43585785.6,2026
940,2026-01-22,265.0,266.9,262.0,266.0,0.00,156183.0,41222660.6,2026

In [9]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # FY 78/79 to 81/82
    'eps': [4.71, 6.13, 5.94, 3.80],     
    'pe-ratio': [45.60, 39.80, 42.42, 68.50], 
    'roe': [4.05, 5.26, 5.09, 3.99],     
    'dividend': [4.21, 4.21, 0.00, 6.32]
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year   eps  pe-ratio   roe  dividend
0  2022  4.71     45.60  4.05      4.21
1  2023  6.13     39.80  5.26      4.21
2  2024  5.94     42.42  5.09      0.00
3  2025  3.80     68.50  3.99      6.32

In [10]:
# #merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,291.0,295.0,290.0,292.0,0.34,75101.0,21913380.8,2022,4.71,45.6,4.05,4.21
1,2022-01-03,287.0,297.0,287.0,293.9,0.65,58152.0,17116843.8,2022,4.71,45.6,4.05,4.21
2,2022-01-04,294.1,322.0,289.1,316.0,7.52,181835.0,54767414.1,2022,4.71,45.6,4.05,4.21
3,2022-01-05,316.0,320.0,307.0,307.9,-2.56,113843.0,35610256.5,2022,4.71,45.6,4.05,4.21
4,2022-01-06,305.0,311.0,301.8,308.0,0.03,72266.0,22241675.9,2022,4.71,45.6,4.05,4.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,2026-01-14,255.9,260.5,255.9,260.0,0.78,118274.0,30565032.9,2026,NaN,NaN,NaN,NaN
937,2026-01-18,260.0,264.9,260.0,262.8,1.08,91052.0,23954338.5,2026,NaN,NaN,NaN,NaN
938,2026-01-20,268.0,272.5,265.1,271.0,3.12,233146.0,62819287.2,2026,NaN,NaN,NaN,NaN
939,2026-01-21,273.0,273.0,264.1,266.0,-1.85,163436.0,43585785.6,2026,NaN,NaN,NaN,NaN
940,2026-01-22,265.0,266.9,262.0,266.0,0.00,156183.0,41222660.6,2026,NaN,NaN,NaN,NaN

In [11]:

df = df.copy()
df.to_csv('../data-companywise/NIFRA.csv', index = False)