In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/PRVU.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2015-02-15,311.0,315.0,310.0,315.0,NaN,44909.0,14076560.0,0
1,2015-02-16,315.0,323.0,310.0,323.0,2.54,88333.0,27933052.0,0
2,2015-02-16,315.0,323.0,310.0,323.0,0.00,88333.0,27933052.0,0
3,2015-02-18,323.0,335.0,321.0,335.0,3.72,134332.0,43771556.0,0
4,2015-02-22,335.0,343.0,327.0,330.0,-1.49,94575.0,31618408.0,0
...,...,...,...,...,...,...,...,...,...
2207,2026-01-26,199.8,199.8,192.0,193.0,-1.48,188844.0,36746295.9,-1
2208,2026-01-27,193.0,196.0,188.1,189.0,-2.07,161477.0,30743596.4,-1
2209,2026-01-28,188.4,188.4,184.9,186.1,-1.53,220851.0,41026971.3,-1
2210,2026-01-29,186.0,194.0,185.0,186.0,-0.05,249754.0,46841233.9,0
2211,2026-02-01,185.0,190.0,185.0,187.0,0.54,196619.0,36634444.9,1

In [3]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
df.drop(columns = 'status', inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2015-02-15,311.0,315.0,310.0,315.0,NaN,44909.0,14076560.0
1,2015-02-16,315.0,323.0,310.0,323.0,2.54,88333.0,27933052.0
2,2015-02-16,315.0,323.0,310.0,323.0,0.00,88333.0,27933052.0
3,2015-02-18,323.0,335.0,321.0,335.0,3.72,134332.0,43771556.0
4,2015-02-22,335.0,343.0,327.0,330.0,-1.49,94575.0,31618408.0
...,...,...,...,...,...,...,...,...
2207,2026-01-26,199.8,199.8,192.0,193.0,-1.48,188844.0,36746295.9
2208,2026-01-27,193.0,196.0,188.1,189.0,-2.07,161477.0,30743596.4
2209,2026-01-28,188.4,188.4,184.9,186.1,-1.53,220851.0,41026971.3
2210,2026-01-29,186.0,194.0,185.0,186.0,-0.05,249754.0,46841233.9
2211,2026-02-01,185.0,190.0,185.0,187.0,0.54,196619.0,36634444.9

In [5]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [6]:
#filtering the data from 2022 to 2025
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'].dt.year.between(2022, 2025)].copy()

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
1265,2022-01-02,306.4,308.0,300.1,305.0,1.53,63255.0,19260125.2,2022
1266,2022-01-03,311.1,314.0,305.1,310.0,1.64,86056.0,26677019.8,2022
1267,2022-01-04,316.2,329.0,306.2,329.0,6.13,136196.0,43668061.3,2022
1268,2022-01-05,331.0,334.0,318.0,319.9,-2.77,81901.0,26416439.6,2022
1269,2022-01-06,314.0,328.0,313.6,325.0,1.59,56965.0,18457372.1,2022
...,...,...,...,...,...,...,...,...,...
2188,2025-12-23,181.1,182.0,180.0,181.2,-0.49,111585.0,20175100.0,2025
2189,2025-12-24,181.5,183.0,180.0,182.0,0.44,65718.0,11887611.5,2025
2190,2025-12-28,183.0,187.0,181.2,186.0,2.20,195433.0,36057244.1,2025
2191,2025-12-29,189.7,189.7,184.1,184.1,-1.02,115566.0,21520823.8,2025
2192,2025-12-31,185.0,188.0,185.0,186.2,1.14,80045.0,14928460.9,2025

In [8]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,306.4,308.0,300.1,305.0,1.53,63255.0,19260125.2,2022
1,2022-01-03,311.1,314.0,305.1,310.0,1.64,86056.0,26677019.8,2022
2,2022-01-04,316.2,329.0,306.2,329.0,6.13,136196.0,43668061.3,2022
3,2022-01-05,331.0,334.0,318.0,319.9,-2.77,81901.0,26416439.6,2022
4,2022-01-06,314.0,328.0,313.6,325.0,1.59,56965.0,18457372.1,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,181.1,182.0,180.0,181.2,-0.49,111585.0,20175100.0,2025
924,2025-12-24,181.5,183.0,180.0,182.0,0.44,65718.0,11887611.5,2025
925,2025-12-28,183.0,187.0,181.2,186.0,2.20,195433.0,36057244.1,2025
926,2025-12-29,189.7,189.7,184.1,184.1,-1.02,115566.0,21520823.8,2025
927,2025-12-31,185.0,188.0,185.0,186.2,1.14,80045.0,14928460.9,2025

In [10]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # Corresponding to FY 78/79, 79/80, 80/81, 81/82
    'eps': [10.69, 11.23, 10.03, 8.62],
    'pe-ratio': [18.50, 14.72, 16.80, 21.69],
    'roe': [9.45, 10.10, 7.80, 5.90],
    'dividend': [8, 0.00, 0.00, 0.00]}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  10.69     18.50   9.45       8.0
1  2023  11.23     14.72  10.10       0.0
2  2024  10.03     16.80   7.80       0.0
3  2025   8.62     21.69   5.90       0.0

In [11]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,306.4,308.0,300.1,305.0,1.53,63255.0,19260125.2,2022,10.69,18.50,9.45,8.0
1,2022-01-03,311.1,314.0,305.1,310.0,1.64,86056.0,26677019.8,2022,10.69,18.50,9.45,8.0
2,2022-01-04,316.2,329.0,306.2,329.0,6.13,136196.0,43668061.3,2022,10.69,18.50,9.45,8.0
3,2022-01-05,331.0,334.0,318.0,319.9,-2.77,81901.0,26416439.6,2022,10.69,18.50,9.45,8.0
4,2022-01-06,314.0,328.0,313.6,325.0,1.59,56965.0,18457372.1,2022,10.69,18.50,9.45,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,181.1,182.0,180.0,181.2,-0.49,111585.0,20175100.0,2025,8.62,21.69,5.90,0.0
924,2025-12-24,181.5,183.0,180.0,182.0,0.44,65718.0,11887611.5,2025,8.62,21.69,5.90,0.0
925,2025-12-28,183.0,187.0,181.2,186.0,2.20,195433.0,36057244.1,2025,8.62,21.69,5.90,0.0
926,2025-12-29,189.7,189.7,184.1,184.1,-1.02,115566.0,21520823.8,2025,8.62,21.69,5.90,0.0
927,2025-12-31,185.0,188.0,185.0,186.2,1.14,80045.0,14928460.9,2025,8.62,21.69,5.90,0.0

In [12]:
df = df.copy()
df.to_csv('../data-companywise/PRVU.csv', index = False)