In [1]:
#importing pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/RADHI.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2018-05-09,210.0,214.0,205.0,209.0,0.00,4020.0,834310.0
1,2018-05-10,208.0,210.0,207.0,207.0,-0.96,2990.0,621320.0
2,2018-05-14,211.0,217.0,207.0,208.0,0.48,3780.0,801690.0
3,2018-05-15,205.0,222.0,205.0,213.0,2.40,5948.0,1298476.0
4,2018-05-16,215.0,224.0,215.0,221.0,3.76,3720.0,818880.0
...,...,...,...,...,...,...,...,...
1751,2026-01-14,833.0,833.0,796.0,802.0,-2.08,324761.0,262404184.4
1752,2026-01-18,813.0,814.0,792.6,792.7,-1.16,310404.0,249480894.9
1753,2026-01-20,808.5,825.0,802.0,820.5,3.51,477973.0,390346319.1
1754,2026-01-21,836.0,836.0,810.0,815.0,-0.67,344026.0,282509974.0
1755,2026-01-22,822.0,823.0,801.1,805.0,-1.23,211263.0,170427052.0

In [3]:

# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2018-05-09,210.0,214.0,205.0,209.0,0.00,4020.0,834310.0
1,2018-05-10,208.0,210.0,207.0,207.0,-0.96,2990.0,621320.0
2,2018-05-14,211.0,217.0,207.0,208.0,0.48,3780.0,801690.0
3,2018-05-15,205.0,222.0,205.0,213.0,2.40,5948.0,1298476.0
4,2018-05-16,215.0,224.0,215.0,221.0,3.76,3720.0,818880.0
...,...,...,...,...,...,...,...,...
1751,2026-01-14,833.0,833.0,796.0,802.0,-2.08,324761.0,262404184.4
1752,2026-01-18,813.0,814.0,792.6,792.7,-1.16,310404.0,249480894.9
1753,2026-01-20,808.5,825.0,802.0,820.5,3.51,477973.0,390346319.1
1754,2026-01-21,836.0,836.0,810.0,815.0,-0.67,344026.0,282509974.0
1755,2026-01-22,822.0,823.0,801.1,805.0,-1.23,211263.0,170427052.0

In [5]:

df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [7]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year >= 2022].copy()

In [8]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
815,2022-01-02,556.9,558.0,545.0,553.0,1.28,12496.0,6893260.5,2022
816,2022-01-03,559.9,563.8,545.0,554.9,0.34,21227.0,11763333.5,2022
817,2022-01-04,560.0,572.0,545.0,567.0,2.18,31270.0,17609817.1,2022
818,2022-01-05,572.0,591.3,566.1,573.0,1.06,44974.0,26061520.6,2022
819,2022-01-06,573.0,591.5,562.0,587.0,2.44,25445.0,14787229.4,2022
...,...,...,...,...,...,...,...,...,...
1751,2026-01-14,833.0,833.0,796.0,802.0,-2.08,324761.0,262404184.4,2026
1752,2026-01-18,813.0,814.0,792.6,792.7,-1.16,310404.0,249480894.9,2026
1753,2026-01-20,808.5,825.0,802.0,820.5,3.51,477973.0,390346319.1,2026
1754,2026-01-21,836.0,836.0,810.0,815.0,-0.67,344026.0,282509974.0,2026
1755,2026-01-22,822.0,823.0,801.1,805.0,-1.23,211263.0,170427052.0,2026

In [9]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,556.9,558.0,545.0,553.0,1.28,12496.0,6893260.5,2022
1,2022-01-03,559.9,563.8,545.0,554.9,0.34,21227.0,11763333.5,2022
2,2022-01-04,560.0,572.0,545.0,567.0,2.18,31270.0,17609817.1,2022
3,2022-01-05,572.0,591.3,566.1,573.0,1.06,44974.0,26061520.6,2022
4,2022-01-06,573.0,591.5,562.0,587.0,2.44,25445.0,14787229.4,2022
...,...,...,...,...,...,...,...,...,...
936,2026-01-14,833.0,833.0,796.0,802.0,-2.08,324761.0,262404184.4,2026
937,2026-01-18,813.0,814.0,792.6,792.7,-1.16,310404.0,249480894.9,2026
938,2026-01-20,808.5,825.0,802.0,820.5,3.51,477973.0,390346319.1,2026
939,2026-01-21,836.0,836.0,810.0,815.0,-0.67,344026.0,282509974.0,2026
940,2026-01-22,822.0,823.0,801.1,805.0,-1.23,211263.0,170427052.0,2026

In [10]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # Nepali FY 78/79 to 81/82
    'eps': [9.93, 7.22, 20.65, 60.58],   # NPR (Reported statutory figures)
    'pe-ratio': [45.2, 58.1, 37.4, 13.9],  # Based on closing prices at report date
    'roe': [8.70, 6.30, 17.10, 26.57],   # % Return on Equity (Trailing Twelve Months)
    'dividend': [5.00, 5.00, 5.00, 5.00]   # % Total (Consistently ~4.75% Bonus + 0.25% Cash)
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022   9.93      45.2   8.70       5.0
1  2023   7.22      58.1   6.30       5.0
2  2024  20.65      37.4  17.10       5.0
3  2025  60.58      13.9  26.57       5.0

In [11]:
# #merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,556.9,558.0,545.0,553.0,1.28,12496.0,6893260.5,2022,9.93,45.2,8.7,5.0
1,2022-01-03,559.9,563.8,545.0,554.9,0.34,21227.0,11763333.5,2022,9.93,45.2,8.7,5.0
2,2022-01-04,560.0,572.0,545.0,567.0,2.18,31270.0,17609817.1,2022,9.93,45.2,8.7,5.0
3,2022-01-05,572.0,591.3,566.1,573.0,1.06,44974.0,26061520.6,2022,9.93,45.2,8.7,5.0
4,2022-01-06,573.0,591.5,562.0,587.0,2.44,25445.0,14787229.4,2022,9.93,45.2,8.7,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,2026-01-14,833.0,833.0,796.0,802.0,-2.08,324761.0,262404184.4,2026,NaN,NaN,NaN,NaN
937,2026-01-18,813.0,814.0,792.6,792.7,-1.16,310404.0,249480894.9,2026,NaN,NaN,NaN,NaN
938,2026-01-20,808.5,825.0,802.0,820.5,3.51,477973.0,390346319.1,2026,NaN,NaN,NaN,NaN
939,2026-01-21,836.0,836.0,810.0,815.0,-0.67,344026.0,282509974.0,2026,NaN,NaN,NaN,NaN
940,2026-01-22,822.0,823.0,801.1,805.0,-1.23,211263.0,170427052.0,2026,NaN,NaN,NaN,NaN

In [12]:
df = df.copy()
df.to_csv('../data-companywise/RADHI.csv', index = False)