In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/EBL.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount
0,2011-05-26,992.0,973.0,973.0,973.0,NaN,91.0,88543.0
1,2011-05-30,973.0,990.0,950.0,990.0,1.75,138.0,132510.0
2,2011-05-31,990.0,1000.0,971.0,1000.0,1.01,32.0,31578.0
3,2011-06-01,1000.0,999.0,980.0,980.0,-2.00,166.0,164140.0
4,2011-06-02,980.0,1075.0,1009.0,1075.0,9.69,103.0,106627.0
...,...,...,...,...,...,...,...,...
3351,2026-01-14,661.0,665.0,658.0,660.0,-0.15,26659.0,17620601.8
3352,2026-01-18,660.5,667.0,660.0,665.2,0.79,27585.0,18338376.8
3353,2026-01-20,665.0,682.0,665.0,677.0,1.77,35963.0,24352280.6
3354,2026-01-21,678.1,680.0,671.0,673.0,-0.59,13721.0,9236861.1
3355,2026-01-22,668.0,675.0,668.0,671.0,-0.30,19126.0,12853004.6

In [3]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [5]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2011-05-26,992.0,973.0,973.0,973.0,NaN,91.0,88543.0,2011
1,2011-05-30,973.0,990.0,950.0,990.0,1.75,138.0,132510.0,2011
2,2011-05-31,990.0,1000.0,971.0,1000.0,1.01,32.0,31578.0,2011
3,2011-06-01,1000.0,999.0,980.0,980.0,-2.00,166.0,164140.0,2011
4,2011-06-02,980.0,1075.0,1009.0,1075.0,9.69,103.0,106627.0,2011
...,...,...,...,...,...,...,...,...,...
3351,2026-01-14,661.0,665.0,658.0,660.0,-0.15,26659.0,17620601.8,2026
3352,2026-01-18,660.5,667.0,660.0,665.2,0.79,27585.0,18338376.8,2026
3353,2026-01-20,665.0,682.0,665.0,677.0,1.77,35963.0,24352280.6,2026
3354,2026-01-21,678.1,680.0,671.0,673.0,-0.59,13721.0,9236861.1,2026
3355,2026-01-22,668.0,675.0,668.0,671.0,-0.30,19126.0,12853004.6,2026

In [6]:
#filtering the data from 2022
df['date'] = pd.to_datetime(df['date'])
df=df[df['date'].dt.year >= 2022].copy()

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
2415,2022-01-02,536.0,551.8,532.0,548.0,2.37,40142.0,21819449.0,2022
2416,2022-01-03,552.0,576.0,551.1,573.9,4.73,65836.0,37353840.5,2022
2417,2022-01-04,571.0,625.0,560.1,615.0,7.16,77227.0,45958834.5,2022
2418,2022-01-05,615.0,618.9,591.0,597.0,-2.93,70010.0,42303701.4,2022
2419,2022-01-06,598.0,618.0,588.4,614.0,2.85,40796.0,24616154.7,2022
...,...,...,...,...,...,...,...,...,...
3351,2026-01-14,661.0,665.0,658.0,660.0,-0.15,26659.0,17620601.8,2026
3352,2026-01-18,660.5,667.0,660.0,665.2,0.79,27585.0,18338376.8,2026
3353,2026-01-20,665.0,682.0,665.0,677.0,1.77,35963.0,24352280.6,2026
3354,2026-01-21,678.1,680.0,671.0,673.0,-0.59,13721.0,9236861.1,2026
3355,2026-01-22,668.0,675.0,668.0,671.0,-0.30,19126.0,12853004.6,2026

In [8]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,536.0,551.8,532.0,548.0,2.37,40142.0,21819449.0,2022
1,2022-01-03,552.0,576.0,551.1,573.9,4.73,65836.0,37353840.5,2022
2,2022-01-04,571.0,625.0,560.1,615.0,7.16,77227.0,45958834.5,2022
3,2022-01-05,615.0,618.9,591.0,597.0,-2.93,70010.0,42303701.4,2022
4,2022-01-06,598.0,618.0,588.4,614.0,2.85,40796.0,24616154.7,2022
...,...,...,...,...,...,...,...,...,...
936,2026-01-14,661.0,665.0,658.0,660.0,-0.15,26659.0,17620601.8,2026
937,2026-01-18,660.5,667.0,660.0,665.2,0.79,27585.0,18338376.8,2026
938,2026-01-20,665.0,682.0,665.0,677.0,1.77,35963.0,24352280.6,2026
939,2026-01-21,678.1,680.0,671.0,673.0,-0.59,13721.0,9236861.1,2026
940,2026-01-22,668.0,675.0,668.0,671.0,-0.30,19126.0,12853004.6,2026

In [9]:

fundamental_data = {
    'year': [2022, 2023, 2024, 2025],
    'eps': [28.25, 34.12, 35.61, 38.45],  # Consistent growth even in downturns
    'pe-ratio': [16.80, 15.20, 17.02, 15.75], 
    'roe': [14.55, 16.20, 15.82, 16.40],  # Among the highest for Class A banks
    'dividend': [20.00, 20.53, 15.53, 25.00]
}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  28.25     16.80  14.55     20.00
1  2023  34.12     15.20  16.20     20.53
2  2024  35.61     17.02  15.82     15.53
3  2025  38.45     15.75  16.40     25.00

In [10]:
# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,536.0,551.8,532.0,548.0,2.37,40142.0,21819449.0,2022,28.25,16.8,14.55,20.0
1,2022-01-03,552.0,576.0,551.1,573.9,4.73,65836.0,37353840.5,2022,28.25,16.8,14.55,20.0
2,2022-01-04,571.0,625.0,560.1,615.0,7.16,77227.0,45958834.5,2022,28.25,16.8,14.55,20.0
3,2022-01-05,615.0,618.9,591.0,597.0,-2.93,70010.0,42303701.4,2022,28.25,16.8,14.55,20.0
4,2022-01-06,598.0,618.0,588.4,614.0,2.85,40796.0,24616154.7,2022,28.25,16.8,14.55,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,2026-01-14,661.0,665.0,658.0,660.0,-0.15,26659.0,17620601.8,2026,NaN,NaN,NaN,NaN
937,2026-01-18,660.5,667.0,660.0,665.2,0.79,27585.0,18338376.8,2026,NaN,NaN,NaN,NaN
938,2026-01-20,665.0,682.0,665.0,677.0,1.77,35963.0,24352280.6,2026,NaN,NaN,NaN,NaN
939,2026-01-21,678.1,680.0,671.0,673.0,-0.59,13721.0,9236861.1,2026,NaN,NaN,NaN,NaN
940,2026-01-22,668.0,675.0,668.0,671.0,-0.30,19126.0,12853004.6,2026,NaN,NaN,NaN,NaN

In [11]:

df = df.copy()
df.to_csv('../data-companywise/EBL.csv', index = False)