In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#reading the file
df = pd.read_csv('../data-companywise/MDB.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,2011-07-28,126.0,126.0,126.0,126.0,NaN,40.0,5040.0,0
1,2011-08-01,126.0,124.0,122.0,122.0,-3.17,120.0,14660.0,0
2,2011-08-03,122.0,122.0,120.0,120.0,-1.64,270.0,32600.0,0
3,2011-08-04,120.0,120.0,120.0,120.0,0.00,40.0,4800.0,0
4,2011-08-11,120.0,122.0,122.0,122.0,1.67,220.0,26840.0,0
...,...,...,...,...,...,...,...,...,...
3057,2026-01-26,670.0,673.0,651.1,658.0,-0.75,66140.0,43531832.5,-1
3058,2026-01-27,645.0,668.0,645.0,655.0,-0.46,192759.0,127293936.7,1
3059,2026-01-28,658.5,678.0,653.0,668.9,2.12,94401.0,62821873.5,1
3060,2026-01-29,680.0,680.0,655.0,660.0,-1.33,27001.0,17842403.6,-1
3061,2026-02-01,660.0,671.9,647.2,650.0,-1.52,69542.0,45852589.9,-1

In [3]:
# Rename specific columns to the "Perfect Schema"
df = df.rename(columns={
    'published_date': 'date',
    'traded_quantity': 'volume',
    'traded_amount': 'turnover',
    'per_change': 'price_change_pct'
})

In [4]:
df.drop(columns = 'status', inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover
0,2011-07-28,126.0,126.0,126.0,126.0,NaN,40.0,5040.0
1,2011-08-01,126.0,124.0,122.0,122.0,-3.17,120.0,14660.0
2,2011-08-03,122.0,122.0,120.0,120.0,-1.64,270.0,32600.0
3,2011-08-04,120.0,120.0,120.0,120.0,0.00,40.0,4800.0
4,2011-08-11,120.0,122.0,122.0,122.0,1.67,220.0,26840.0
...,...,...,...,...,...,...,...,...
3057,2026-01-26,670.0,673.0,651.1,658.0,-0.75,66140.0,43531832.5
3058,2026-01-27,645.0,668.0,645.0,655.0,-0.46,192759.0,127293936.7
3059,2026-01-28,658.5,678.0,653.0,668.9,2.12,94401.0,62821873.5
3060,2026-01-29,680.0,680.0,655.0,660.0,-1.33,27001.0,17842403.6
3061,2026-02-01,660.0,671.9,647.2,650.0,-1.52,69542.0,45852589.9

In [5]:
#year column created
df['date'] = pd.to_datetime(df['date'])   # convert first
df['year'] = df['date'].dt.year

In [6]:
#filtering the data from 2022 to 2025
df['date'] = pd.to_datetime(df['date'])
df = df[df['date'].dt.year.between(2022, 2025)].copy()

In [7]:
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
2115,2022-01-02,451.0,457.0,440.0,457.0,1.83,15567.0,7009825.0,2022
2116,2022-01-03,450.0,477.4,450.0,470.0,2.84,11624.0,5404633.0,2022
2117,2022-01-04,478.0,490.0,460.6,490.0,4.26,21181.0,10186241.5,2022
2118,2022-01-05,492.0,517.4,485.0,498.0,1.63,34491.0,17186160.3,2022
2119,2022-01-06,488.1,504.0,478.4,504.0,1.20,15831.0,7817519.9,2022
...,...,...,...,...,...,...,...,...,...
3038,2025-12-23,565.0,568.9,559.0,560.1,-0.60,3256.0,1828156.2,2025
3039,2025-12-24,561.1,564.0,561.0,562.0,0.34,5336.0,3000851.7,2025
3040,2025-12-28,570.0,586.0,566.0,586.0,4.27,13592.0,7820270.2,2025
3041,2025-12-29,586.0,598.0,582.0,591.0,0.85,36673.0,21678386.3,2025
3042,2025-12-31,596.0,599.8,588.5,593.0,0.34,10692.0,6314093.1,2025

In [8]:
#resetting index
df.reset_index(drop= True, inplace = True)
df

,date,open,high,low,close,price_change_pct,volume,turnover,year
0,2022-01-02,451.0,457.0,440.0,457.0,1.83,15567.0,7009825.0,2022
1,2022-01-03,450.0,477.4,450.0,470.0,2.84,11624.0,5404633.0,2022
2,2022-01-04,478.0,490.0,460.6,490.0,4.26,21181.0,10186241.5,2022
3,2022-01-05,492.0,517.4,485.0,498.0,1.63,34491.0,17186160.3,2022
4,2022-01-06,488.1,504.0,478.4,504.0,1.20,15831.0,7817519.9,2022
...,...,...,...,...,...,...,...,...,...
923,2025-12-23,565.0,568.9,559.0,560.1,-0.60,3256.0,1828156.2,2025
924,2025-12-24,561.1,564.0,561.0,562.0,0.34,5336.0,3000851.7,2025
925,2025-12-28,570.0,586.0,566.0,586.0,4.27,13592.0,7820270.2,2025
926,2025-12-29,586.0,598.0,582.0,591.0,0.85,36673.0,21678386.3,2025
927,2025-12-31,596.0,599.8,588.5,593.0,0.34,10692.0,6314093.1,2025

In [9]:
fundamental_data = {
    'year': [2022, 2023, 2024, 2025], # Corresponding to FY 78/79, 79/80, 80/81, 81/82
    'eps': [14.65, 11.97, 13.11, 13.27],
    'pe-ratio': [30.50, 28.40, 42.30, 53.80],
    'roe': [12.40, 10.15, 10.61, 9.60],
    'dividend': [13.00, 9.48, 10.00, 10.00]}
df_fundamental = pd.DataFrame(fundamental_data)
df_fundamental

   year    eps  pe-ratio    roe  dividend
0  2022  14.65      30.5  12.40     13.00
1  2023  11.97      28.4  10.15      9.48
2  2024  13.11      42.3  10.61     10.00
3  2025  13.27      53.8   9.60     10.00

In [10]:

# merging
df = pd.merge(df, df_fundamental, on='year',how= 'left')
df

,date,open,high,low,close,price_change_pct,volume,turnover,year,eps,pe-ratio,roe,dividend
0,2022-01-02,451.0,457.0,440.0,457.0,1.83,15567.0,7009825.0,2022,14.65,30.5,12.4,13.0
1,2022-01-03,450.0,477.4,450.0,470.0,2.84,11624.0,5404633.0,2022,14.65,30.5,12.4,13.0
2,2022-01-04,478.0,490.0,460.6,490.0,4.26,21181.0,10186241.5,2022,14.65,30.5,12.4,13.0
3,2022-01-05,492.0,517.4,485.0,498.0,1.63,34491.0,17186160.3,2022,14.65,30.5,12.4,13.0
4,2022-01-06,488.1,504.0,478.4,504.0,1.20,15831.0,7817519.9,2022,14.65,30.5,12.4,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2025-12-23,565.0,568.9,559.0,560.1,-0.60,3256.0,1828156.2,2025,13.27,53.8,9.6,10.0
924,2025-12-24,561.1,564.0,561.0,562.0,0.34,5336.0,3000851.7,2025,13.27,53.8,9.6,10.0
925,2025-12-28,570.0,586.0,566.0,586.0,4.27,13592.0,7820270.2,2025,13.27,53.8,9.6,10.0
926,2025-12-29,586.0,598.0,582.0,591.0,0.85,36673.0,21678386.3,2025,13.27,53.8,9.6,10.0
927,2025-12-31,596.0,599.8,588.5,593.0,0.34,10692.0,6314093.1,2025,13.27,53.8,9.6,10.0

In [11]:
df = df.copy()
df.to_csv('../data-companywise/MDB.csv', index = False)